n8n/workflows/fairyteller_text.workflow.json
[
  {
    "updatedAt": "2026-05-23T08:47:03.000Z",
    "createdAt": "2026-05-23T04:36:18.781Z",
    "id": "kCtpw2d7pEOI3QRF",
    "name": "fairyteller_text",
    "description": "Generates the first chapter with Gemini, writes text.json, exposes the first-chapter preview, and starts visuals asynchronously.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "79a697f2-1af5-477f-bf6f-69ac8805adce",
        "name": "Text Pipeline Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\"jobId\":\"ft_example\",\"status\":\"received\",\"order\":{\"world\":\"disney_light\",\"location\":\"Istanbul\",\"artifact\":\"silver compass\",\"email\":\"reader@example.com\",\"heroes\":[{\"n\":1,\"name\":\"Alice\",\"description\":\"Curious traveler\",\"relation\":\"main hero\"}]}}"
        }
      },
      {
        "id": "fbc2f36f-c326-4aa2-bc5b-0814baf6044c",
        "name": "Mark Text Generating",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          540,
          300
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": {
            "status": "text_generating",
            "stage": "text",
            "progress": 15,
            "message": "Пишем первую главу"
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "87bee038-da47-49e5-a01a-654865c3282e",
        "name": "Build First Chapter Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          840,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const item = $('Text Pipeline Input').first().json;\nconst order = item.order || {};\nconst jobId = item.jobId || 'ft_' + Date.now();\nconst worldKey = order.world === 'new_year' ? 'hogwarts_world' : (order.world || 'disney_light');\nconst chaptersTarget = Math.max(1, Math.min(8, Number(order.chapters || 5)));\nconst lengthTarget = Math.max(2500, Number(order.lengthTarget || 15000));\nconst chapterNumbers = Array.from({ length: chaptersTarget }, (_, index) => index + 1);\nconst planShape = chapterNumbers.map((n) => '{ \"n\": ' + n + ', \"title\": \"...\", \"beat\": \"...\" }').join(', ');\nconst laterChaptersText = chaptersTarget > 1 ? 'краткий план 2-' + chaptersTarget + ' глав' : 'только финальный вектор истории без дополнительных глав';\nconst worldProfiles = {\n  disney_light: {\n    title: 'Disney Light',\n    env: 'Мир, где чудеса вплетены в повседневность. Пространство не имеет строгих географических границ, но каждое место несет символическую нагрузку - цель, испытание, начало пути. В этом мире всегда есть противостояние: кто-то следует зову сердца, а кто-то стремится подчинить все своей воле. Добро и зло различимы, но не навсегда закреплены за героями - каждый проходит испытание выбором. Законы просты: мир отвечает на искренние чувства и помогает тем, кто способен оставаться добрым даже в опасности. Атмосфера мягкая и теплая, с оттенком мечты и веры, будто сама природа следит, чтобы свет в конце пути не погас.',\n    rel: 'равное партнерство + чуткий наставник; доверие растет через маленькие дела',\n    motifs: 'маленькие чудеса; помощь незнакомцам; ищем смелость - находим доброту',\n    visual: 'Pastel warmth, rounded shapes, gentle faces, soft highlights; morning or evening glow; air filled with calm and wonder; wooden, stone or natural textures; soft shadows, painterly lighting, balanced depth; readable silhouettes, storybook composition, quiet sense of magic.',\n    conflict: 'гордость справлюсь сам против принятия помощи',\n  },\n  adventure_classic: {\n    title: 'Adventure Classic',\n    env: 'Мир дорог, открытий и смелых решений. Здесь важно не место, а движение вперед - по воде, по суше или в воздухе. Герои действуют спонтанно, доверяют случаю и находят приключения там, где другие прошли мимо. Все вокруг полно света, ветра и неожиданностей. Атмосфера бодрая и свободная, с чувством риска, юмора и предвкушения следующего поворота.',\n    rel: 'неидеальная команда, равное партнерство; импровизация и взаимовыручка',\n    motifs: 'поиск артефакта; загадки и ловушки; ищем внешнее - находим внутреннее',\n    visual: 'Bold adventure framing, strong sun and shadow contrasts; dynamic angles and gestures; warm natural palette with ocean or sky accents; sense of motion, curiosity, and open horizon.',\n    conflict: 'риск и выбор пути проверяют доверие команды; гордость я сам против умения опереться на напарника',\n  },\n  hogwarts_world: {\n    title: 'Hogwarts World',\n    env: 'Наши дни, 2026 год, скрытый магический слой мира: школа или интернат чародейства, старые башни и коридоры, портреты, движущиеся лестницы или переходы, кабинеты, библиотека, теплая столовая, двор под снегом. Атмосфера уютная: хвоя, теплый свет свечей и фонарей, запах мандаринов или пряностей, пар от дыхания. Магия реальна, но работает как мягкое чудо: подталкивает, помогает заметить, открыть, найти, согреть, соединить людей, но не подменяет выбор героя.',\n    rel: 'команда учеников, тихий наставник или подталкивающий трикстер; доверие растет через совместный риск, добрый поступок и умение заметить другого',\n    motifs: 'магическая школа; скрытые переходы; письма и портреты; школьный ритуал; зимний свет; артефакт с тайным правилом; чудо как подсказка, а не готовое решение',\n    visual: 'Warm magical boarding-school atmosphere, old towers and corridors, candlelight, lantern glow, pine branches, frosted windows, falling snow, cozy dining hall, library shelves, courtyard under winter dusk; readable silhouettes, figurative storybook composition, soft bokeh, no horror/grunge, no 3D/collage.',\n    conflict: 'срыв важного школьного или городского ритуала против способности героев понять мотив антагониста и сохранить людей важнее самого ритуала',\n    extra: 'Антагонист пытается сорвать важный ритуал или событие школы/города: посвящение, зимний бал, церемонию огня, ночь фонарей, клятву класса, вручение знака, открытие зала или возврат света. В финале антагонист преображается: понятна причина, сделан добрый жест, наступает примирение. Не добавляй каноничные имена, названия школ, факультетов, заклинаний, игр, мест и любые узнаваемые элементы чужой франшизы дословно; только общее ощущение жанра школа чародейства.',\n  },\n  fantasy_epic: {\n    title: 'Fantasy Epic',\n    env: 'Мир, где чувствуется масштаб и древность. Здесь история не забыта, а продолжается через выбор и поступки героев. Магия подчиняется знанию и долгу, сила требует ответственности, а зло возникает там, где человек ищет власть вместо смысла. Это пространство судьбы и испытаний, где каждый шаг может изменить порядок вещей. Атмосфера строгая и торжественная, с ощущением приближения событий, от которых зависит будущее мира.',\n    rel: 'учитель и ученик; долг и любовь; общее испытание сплачивает',\n    motifs: 'пророчество; клятвы и испытания; артефакт как проверка',\n    visual: 'Misty depth, textured painterly surfaces, layered light and shadow; cool palette with warm highlights; balanced scale and grandeur; clear composition, quiet tension, sense of destiny.',\n    conflict: 'борьба света и тьмы проходит через сердце героя; честь против искупления',\n  },\n  cyberpunk_dream: {\n    title: 'Cyberpunk Dream',\n    env: 'Мир, где технологии проникли во все сферы жизни, а границы между реальным и виртуальным размылись. Города светятся искусственным светом, сети управляют привычками, и человек все чаще сталкивается с решениями, которые принимают машины. Законы слабы, корпорации сильны, но в каждом еще остается место выбору - оставаться живым, несмотря на холод систем. Атмосфера напряженная и электрическая, с ощущением скорости, одиночества и поиска смысла в мире без сна.',\n    rel: 'холодная близость; доверие под вопросом; сделки и цена автономии',\n    motifs: 'бунт против системы; взлом; тело против машины; реальность против симуляции',\n    visual: 'High-contrast neon, wet reflections, sharp silhouettes; diffuse screen glow, hanging cables, faint rain haze; blue-violet base with warm amber or magenta accents; cinematic depth, sense of motion and isolation.',\n    conflict: 'свобода против контроля и ее личная цена',\n  },\n};\nconst worldProfile = worldProfiles[worldKey] || worldProfiles.disney_light;\nconst worldBrief = [\n  'Название мира: ' + worldProfile.title,\n  'Среда и законы: ' + worldProfile.env,\n  'Отношения: ' + worldProfile.rel,\n  'Мотивы: ' + worldProfile.motifs,\n  'Конфликт: ' + worldProfile.conflict,\n  'Визуальный язык для story bible и сцен: ' + worldProfile.visual,\n  worldProfile.extra || '',\n].filter(Boolean).join('\\n');\nconst heroes = (order.heroes || []).filter((hero) => hero.name || hero.description || hero.relation).map((hero) => 'Герой ' + hero.n + ': ' + (hero.name || 'без имени') + ' - ' + (hero.description || 'описание не задано') + ' - ' + (hero.relation || 'роль не задана')).join('\\n');\nconst systemText = 'Ты - автор персональных книг Fairyteller. Пиши на русском языке, без буквы е с точками. Тон: современная ясная проза, живые сцены, теплые детали, без канцелярита и мета-комментариев. Герои уже заданы пользователем; не меняй имена, факты и отношения. Не добавляй известных copyrighted персонажей и не копируй чужие вселенные. Для романтики держи скромный уровень: близость через поступки, взгляд, заботу и диалог, без эротики. Верни только валидный JSON. Внутри JSON-строк не используй кавычки-елочки, markdown, списки и переносы строк; диалоги оформляй через тире.';\nconst userText = 'Создай story bible и ПЕРВУЮ главу персональной книги. Полная книга рассчитана примерно на ' + lengthTarget + ' знаков и ' + chaptersTarget + ' глав. Остальные главы пока не писать полностью: нужен ' + laterChaptersText + ', чтобы первая глава была началом цельной истории.\\n\\n' +\n  'Выбранный мир: ' + worldKey + '\\n' + worldBrief + '\\n\\n' +\n  'Новогодний/праздничный режим: ' + (order.newyearMode ? 'да, вплети праздник/зиму/подарок органично' : 'нет') + '\\n' +\n  'Место действия: ' + (order.location || 'не задано') + '\\n' +\n  'Важный предмет/артефакт: ' + (order.artifact || 'не задан') + '\\n' +\n  'Пользователь просит название: ' + (order.titleNeed ? 'да, сделай bookTitle особенно выразительным' : 'нет, но bookTitle все равно нужен для структуры') + '\\n' +\n  'Язык: ' + (order.language || 'ru') + '\\n' +\n  'Стиль иллюстраций: ' + (order.illustrationStyle || 'storybook') + '\\n\\n' +\n  'Персонажи:\\n' + (heroes || 'Герои не заданы; создай нейтральную пару/команду без новых анкетных подробностей.') + '\\n\\n' +\n  'Требования к первой главе:\\n' +\n  '- Это глава 1 из ' + chaptersTarget + '. Она должна работать как быстрый UX-preview, но быть настоящей литературной главой.\\n' +\n  '- 5 текстовых блоков для верстки, каждый 520-760 знаков, каждый блок 2-3 абзаца.\\n' +\n  '- Выбранный мир должен быть заметен в событиях, деталях и конфликте, а не только назван в bible.\\n' +\n  '- Место действия должно появиться в осязаемых деталях первой главы.\\n' +\n  '- Важный предмет должен быть виден и повлиять на действие первой главы.\\n' +\n  '- В главе должны быть: ритуал/контекст героев, толчок к приключению, локация в деталях, предмет в действии, мягкий крючок на главу 2.\\n' +\n  '- Диалоги короткие, не больше 4-6 реплик на главу.\\n' +\n  '- Не используй заголовки внутри textBlocks, markdown, маркеры списков и служебные пометки.\\n' +\n  '- Не вставляй переносы строк внутри значений JSON; каждый textBlocks[i] должен быть одной JSON-строкой.\\n' +\n  '- chapter1.summary должен быть визуальным ТЗ для иллюстрации: кто в кадре, где, что делает, предмет, свет, ракурс, настроение; 260-380 знаков, без будущих спойлеров и без слов про стиль.\\n\\n' +\n  'Верни JSON строго по schema. chapterPlan должен содержать ровно ' + chaptersTarget + ' элементов: [' + planShape + '].';\nconst responseSchema = {\n  type: 'OBJECT',\n  properties: {\n    bookTitle: { type: 'STRING' },\n    subtitle: { type: 'STRING' },\n    coverSummary: { type: 'STRING' },\n    storyBible: {\n      type: 'OBJECT',\n      properties: {\n        world: { type: 'STRING' },\n        location: { type: 'STRING' },\n        artifact: { type: 'STRING' },\n        tone: { type: 'STRING' },\n        throughline: { type: 'STRING' },\n      },\n      required: ['world', 'location', 'artifact', 'tone', 'throughline'],\n    },\n    chapterPlan: {\n      type: 'ARRAY',\n      items: {\n        type: 'OBJECT',\n        properties: { n: { type: 'NUMBER' }, title: { type: 'STRING' }, beat: { type: 'STRING' } },\n        required: ['n', 'title', 'beat'],\n      },\n    },\n    chapter1: {\n      type: 'OBJECT',\n      properties: {\n        title: { type: 'STRING' },\n        summary: { type: 'STRING' },\n        textBlocks: { type: 'ARRAY', items: { type: 'STRING' } },\n      },\n      required: ['title', 'summary', 'textBlocks'],\n    },\n  },\n  required: ['bookTitle', 'subtitle', 'coverSummary', 'storyBible', 'chapterPlan', 'chapter1'],\n};\nconst geminiRequest = {\n  systemInstruction: { parts: [{ text: systemText }] },\n  contents: [{ role: 'user', parts: [{ text: userText }] }],\n  generationConfig: {\n    temperature: 0.65,\n    topP: 0.9,\n    maxOutputTokens: 9000,\n    responseMimeType: 'application/json',\n    responseSchema,\n  },\n};\nreturn [{ json: { ...item, jobId, geminiModel: 'gemini-2.5-flash', worldKey, worldProfile, chaptersTarget, lengthTarget, geminiRequest } }];"
        }
      },
      {
        "id": "e30cc884-26a6-4a5c-a13e-bf486b5df813",
        "name": "Generate First Chapter with Gemini",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1140,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/\" + $json.geminiModel + \":generateContent\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-goog-api-key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ $json.geminiRequest }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 180000
          }
        }
      },
      {
        "id": "fd17be52-d929-4bd1-99e3-4df446c50227",
        "name": "Normalize First Chapter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const source = $('Build First Chapter Prompt').first().json;\nconst response = $input.first().json;\n\nfunction collectText(value) {\n  return String(value?.candidates?.[0]?.content?.parts?.map((part) => part.text || '').join('') || '').trim();\n}\n\nfunction extractJsonCandidate(text) {\n  let candidate = String(text || '').trim().replace(/^\\uFEFF/, '');\n  const fence = candidate.match(/^\\`\\`\\`(?:json)?\\s*([\\s\\S]*?)\\s*\\`\\`\\`$/i);\n  if (fence) candidate = fence[1].trim();\n  const firstBrace = candidate.indexOf('{');\n  const lastBrace = candidate.lastIndexOf('}');\n  if (firstBrace >= 0 && lastBrace > firstBrace) candidate = candidate.slice(firstBrace, lastBrace + 1);\n  return candidate;\n}\n\nfunction escapeControlCharsInsideStrings(text) {\n  let result = '';\n  let inString = false;\n  let escaped = false;\n  for (const char of text) {\n    if (escaped) {\n      result += char;\n      escaped = false;\n      continue;\n    }\n    if (char === '\\\\') {\n      result += char;\n      escaped = true;\n      continue;\n    }\n    if (char === '\"') {\n      inString = !inString;\n      result += char;\n      continue;\n    }\n    if (inString && char === '\\n') {\n      result += '\\\\n';\n      continue;\n    }\n    if (inString && char === '\\r') {\n      result += '\\\\r';\n      continue;\n    }\n    if (inString && char === '\\t') {\n      result += '\\\\t';\n      continue;\n    }\n    result += char;\n  }\n  return result;\n}\n\nfunction repairLikelyJson(text) {\n  return String(text || '')\n    .replace(/,\\s*([}\\]])/g, '$1')\n    .replace(/\"\\s*\\n\\s*\"/g, '\"\\n,\"')\n    .replace(/}\\s*\\n\\s*\"/g, '}\\n,\"')\n    .replace(/]\\s*\\n\\s*\"/g, ']\\n,\"');\n}\n\nfunction parseGeminiJson(raw) {\n  const candidate = extractJsonCandidate(raw);\n  const escaped = escapeControlCharsInsideStrings(candidate);\n  const attempts = [candidate, escaped, repairLikelyJson(escaped)];\n  let lastError;\n  for (const attempt of attempts) {\n    try {\n      return JSON.parse(attempt);\n    } catch (error) {\n      lastError = error;\n    }\n  }\n  for (const looseAttempt of [candidate, escaped, repairLikelyJson(escaped), raw]) {\n    const fallback = parseLooseGeminiJson(looseAttempt);\n    if (fallback) return fallback;\n  }\n  throw new Error('Gemini first chapter response was not valid JSON after repair: ' + (lastError?.message || 'unknown parse error'));\n}\n\nfunction readStringField(text, key) {\n  const re = new RegExp('\"' + key + '\"\\\\s*:\\\\s*\"([\\\\s\\\\S]*?)\"\\\\s*(?:,|\\\\n\\\\s*\"|\\\\n\\\\s*[}\\\\]])');\n  const match = String(text || '').match(re);\n  if (!match) return '';\n  return match[1].replace(/\\\\n/g, ' ').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\').replace(/\\s+/g, ' ').trim();\n}\n\nfunction splitRawTextIntoBlocks(text) {\n  let raw = String(text || '').replace(/\\n/g, ' ').replace(/\n/g, ' ');\n  const textBlocksIndex = raw.indexOf('\"textBlocks\"');\n  const chapterIndex = raw.indexOf('\"chapter1\"');\n  if (textBlocksIndex >= 0) raw = raw.slice(textBlocksIndex);\n  else if (chapterIndex >= 0) raw = raw.slice(chapterIndex);\n  raw = raw\n    .replace(/\\\"/g, '\"')\n    .replace(/\"(?:bookTitle|subtitle|coverSummary|storyBible|chapterPlan|chapter1|title|summary|textBlocks|world|location|artifact|tone|throughline|n|beat)\"\\s*:?/g, ' ')\n    .replace(/[{}\\[\\],]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (raw.length < 180) return [];\n  const minSize = Math.max(100, Math.floor(raw.length / 8));\n  const target = Math.max(minSize, Math.floor(raw.length / 5));\n  const blocks = [];\n  let rest = raw;\n  while (blocks.length < 4 && rest.length > target) {\n    let cut = rest.lastIndexOf('. ', target + 220);\n    if (cut < target - 220) cut = rest.lastIndexOf('! ', target + 220);\n    if (cut < target - 220) cut = rest.lastIndexOf('? ', target + 220);\n    if (cut < target - 220) cut = rest.indexOf('. ', target);\n    if (cut < 0 || cut > rest.length - minSize) cut = Math.min(rest.length - minSize, target);\n    const block = rest.slice(0, cut + 1).replace(/\\s+/g, ' ').trim();\n    if (block) blocks.push(block);\n    rest = rest.slice(cut + 1).replace(/\\s+/g, ' ').trim();\n  }\n  if (rest) blocks.push(rest.replace(/\\s+/g, ' ').trim());\n  while (blocks.length < 5 && blocks.some((block) => block.length > minSize * 2)) {\n    const index = blocks.reduce((maxIndex, block, currentIndex) => block.length > blocks[maxIndex].length ? currentIndex : maxIndex, 0);\n    const block = blocks[index];\n    let cut = block.lastIndexOf('. ', Math.floor(block.length / 2) + 120);\n    if (cut < Math.floor(block.length / 2) - 120) cut = Math.floor(block.length / 2);\n    blocks.splice(index, 1, block.slice(0, cut + 1).trim(), block.slice(cut + 1).trim());\n  }\n  return blocks.slice(0, 5).map((block) => block.replace(/\\s+/g, ' ').trim()).filter(Boolean);\n}\n\nfunction extractStringValuesAfterKey(text, key, limit = 5) {\n  const sourceText = String(text || '');\n  const keyIndex = sourceText.indexOf('\"' + key + '\"');\n  if (keyIndex < 0) return [];\n  const arrayStart = sourceText.indexOf('[', keyIndex);\n  if (arrayStart < 0) return [];\n  const values = [];\n  let i = arrayStart + 1;\n  while (i < sourceText.length && values.length < limit) {\n    while (i < sourceText.length && sourceText[i] !== '\"') {\n      if (sourceText[i] === ']' && values.length > 0) return values;\n      i += 1;\n    }\n    if (i >= sourceText.length) break;\n    i += 1;\n    let value = '';\n    let escaped = false;\n    while (i < sourceText.length) {\n      const char = sourceText[i];\n      if (escaped) {\n        value += char === 'n' ? ' ' : char;\n        escaped = false;\n        i += 1;\n        continue;\n      }\n      if (char === '\\\\') {\n        escaped = true;\n        i += 1;\n        continue;\n      }\n      if (char === '\"') {\n        i += 1;\n        break;\n      }\n      value += char;\n      i += 1;\n    }\n    const cleaned = value.replace(/\\s+/g, ' ').trim();\n    if (cleaned) values.push(cleaned);\n    if (i >= sourceText.length && values.length > 0) return values;\n  }\n  return values;\n}\n\nfunction parseLooseGeminiJson(text) {\n  const title = readStringField(text, 'bookTitle');\n  const subtitle = readStringField(text, 'subtitle');\n  const coverSummary = readStringField(text, 'coverSummary');\n  const chapterTitle = readStringField(text, 'title') || title || 'Первая глава';\n  const chapterSummary = readStringField(text, 'summary') || coverSummary;\n  let blocks = extractStringValuesAfterKey(text, 'textBlocks', 5);\n  if (blocks.length !== 5) {\n    const blocksMatch = String(text || '').match(/\"textBlocks\"\\s*:\\s*\\[([\\s\\S]*?)(?:\\]\\s*(?:,|\\n\\s*})|$)/);\n    if (blocksMatch) {\n      const stringRe = /\"((?:\\\\.|[^\"\\\\])*)\"/g;\n      let match;\n      const regexBlocks = [];\n      while ((match = stringRe.exec(blocksMatch[1])) && regexBlocks.length < 5) {\n        const value = match[1].replace(/\\\\n/g, ' ').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\').replace(/\\s+/g, ' ').trim();\n        if (value) regexBlocks.push(value);\n      }\n      if (regexBlocks.length === 5) blocks = regexBlocks;\n    }\n  }\n  if (blocks.length !== 5) {\n    const recoveredBlocks = splitRawTextIntoBlocks(text);\n    if (recoveredBlocks.length === 5) blocks = recoveredBlocks;\n  }\n  if (blocks.length !== 5 && blocks.length > 0) {\n    const joined = blocks.join(' ');\n    const resplit = splitRawTextIntoBlocks(joined);\n    if (resplit.length === 5) blocks = resplit;\n  }\n  if (blocks.length !== 5) return null;\n  return {\n    bookTitle: title,\n    subtitle,\n    coverSummary,\n    storyBible: {\n      world: source.worldKey || source.order?.world || '',\n      location: source.order?.location || '',\n      artifact: source.order?.artifact || '',\n      tone: 'Recovered from Gemini loose JSON response',\n      throughline: coverSummary || chapterSummary || '',\n      worldTitle: source.worldProfile?.title || '',\n      worldEnv: source.worldProfile?.env || '',\n      worldMotifs: source.worldProfile?.motifs || '',\n      worldConflict: source.worldProfile?.conflict || '',\n      worldVisual: source.worldProfile?.visual || '',\n    },\n    chapterPlan: Array.from({ length: source.chaptersTarget || source.order?.chapters || 5 }, (_, index) => ({ n: index + 1, title: 'Глава ' + (index + 1), beat: index === 0 ? chapterSummary : '' })),\n    chapter1: { title: chapterTitle, summary: chapterSummary, textBlocks: blocks },\n  };\n}\n\nconst rawText = collectText(response);\nif (!rawText) throw new Error('Gemini first chapter response was empty');\nconst generated = parseGeminiJson(rawText);\nconst chapter1 = generated.chapter1 || {};\nconst textBlocks = Array.isArray(chapter1.textBlocks)\n  ? chapter1.textBlocks.map((block) => String(block || '').replace(/\\s+/g, ' ').trim()).filter(Boolean)\n  : [];\nif (textBlocks.length !== 5) throw new Error('Expected 5 chapter 1 text blocks, got ' + textBlocks.length);\nconst fullChapterText = textBlocks.join('\\n\\n');\nconst preview = {\n  chapter: 1,\n  title: chapter1.title || generated.bookTitle || 'Первая глава',\n  summary: chapter1.summary || '',\n  text: fullChapterText,\n  imageStatus: 'pending',\n};\nconst text = {\n  bible: {\n    ...(generated.storyBible || {}),\n    world: generated.storyBible?.world || source.worldKey || source.order?.world || '',\n    location: generated.storyBible?.location || source.order?.location || '',\n    artifact: generated.storyBible?.artifact || source.order?.artifact || '',\n    bookTitle: generated.bookTitle || '',\n    subtitle: generated.subtitle || '',\n    coverSummary: generated.coverSummary || '',\n    chapterPlan: Array.isArray(generated.chapterPlan) ? generated.chapterPlan.slice(0, source.chaptersTarget || source.order?.chapters || 5) : [],\n    worldTitle: generated.storyBible?.worldTitle || source.worldProfile?.title || '',\n    worldEnv: generated.storyBible?.worldEnv || source.worldProfile?.env || '',\n    worldMotifs: generated.storyBible?.worldMotifs || source.worldProfile?.motifs || '',\n    worldConflict: generated.storyBible?.worldConflict || source.worldProfile?.conflict || '',\n    worldVisual: generated.storyBible?.worldVisual || source.worldProfile?.visual || '',\n  },\n  preview,\n  chapters: [{ n: 1, title: preview.title, summary: preview.summary, textBlocks, text: fullChapterText, status: 'ready' }],\n  generation: { provider: 'gemini', model: source.geminiModel || 'gemini-2.5-flash', responseId: response.responseId || null },\n};\nreturn [{ json: { ...source, status: 'chapter_1_ready', text, pipeline: { next: 'fairyteller_visuals', previewEnabled: true, firstChapterImagePriority: true } } }];"
        }
      },
      {
        "id": "c0f20131-cebb-4d36-846d-13b092fa2e17",
        "name": "Write Text Artifact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1740,
          300
        ],
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId + \"/artifacts/text.json\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { jobId: $json.jobId, status: $json.status, text: $json.text } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "9eb28c12-f683-40a6-88d0-9365dc4d9d5d",
        "name": "Mark First Chapter Ready",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2040,
          300
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Normalize First Chapter\").item.json.jobId }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { status: \"chapter_1_ready\", stage: \"text\", progress: 35, message: \"Первая глава готова, готовим иллюстрацию\", preview: $(\"Normalize First Chapter\").item.json.text.preview } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "cc97da8b-d80d-4e6e-a7d9-a58d0cd10831",
        "name": "Restore Text Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2340,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const payload = $('Normalize First Chapter').first().json;\nreturn [{ json: payload }];"
        }
      },
      {
        "id": "7bcb26d2-c232-4fbe-819e-6dc7fdd78e3b",
        "name": "Start Visuals Pipeline",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2640,
          300
        ],
        "parameters": {
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "RXzoJ7Bdlr2y3l60",
            "mode": "list",
            "cachedResultName": "fairyteller_visuals"
          },
          "mode": "once",
          "options": {
            "waitForSubWorkflow": false
          }
        }
      }
    ],
    "connections": {
      "Text Pipeline Input": {
        "main": [
          [
            {
              "node": "Mark Text Generating",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Text Generating": {
        "main": [
          [
            {
              "node": "Build First Chapter Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build First Chapter Prompt": {
        "main": [
          [
            {
              "node": "Generate First Chapter with Gemini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate First Chapter with Gemini": {
        "main": [
          [
            {
              "node": "Normalize First Chapter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize First Chapter": {
        "main": [
          [
            {
              "node": "Write Text Artifact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Text Artifact": {
        "main": [
          [
            {
              "node": "Mark First Chapter Ready",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark First Chapter Ready": {
        "main": [
          [
            {
              "node": "Restore Text Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore Text Payload": {
        "main": [
          [
            {
              "node": "Start Visuals Pipeline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true
    },
    "staticData": null,
    "meta": {
      "aiBuilderAssisted": true
    },
    "pinData": {},
    "versionId": "a5ae6e4a-d682-4209-86bb-9c3d212a03ca",
    "activeVersionId": "a5ae6e4a-d682-4209-86bb-9c3d212a03ca",
    "versionCounter": 26,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-05-23T04:36:18.785Z",
        "createdAt": "2026-05-23T04:36:18.785Z",
        "role": "workflow:owner",
        "workflowId": "kCtpw2d7pEOI3QRF",
        "projectId": "yjU1WlmpOKrWZ5oA",
        "project": {
          "updatedAt": "2026-04-01T13:13:29.434Z",
          "createdAt": "2026-04-01T12:58:08.424Z",
          "id": "yjU1WlmpOKrWZ5oA",
          "name": "Nikita Such <aukenbro1@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ad3f1947-a4d2-4d9f-9812-8101e2da0e99"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
