n8n/workflows/fairyteller_cover.workflow.json
[
  {
    "updatedAt": "2026-05-25T15:53:14.000Z",
    "createdAt": "2026-05-23T14:21:29.881Z",
    "id": "FVCover20260523",
    "name": "fairyteller_cover",
    "description": "Generates front-cover framed artwork using full text, visual bible, and portrait sheet, then starts print render.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "15930c16-8ff7-491b-b5c6-5c465638637d",
        "name": "Cover Pipeline Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\"jobId\":\"ft_example\",\"order\":{},\"text\":{\"chapters\":[]}}"
        }
      },
      {
        "id": "94acc34b-768d-4596-a94f-ddd58706bc6a",
        "name": "Generate Cover",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          540,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const source = $input.first().json;\nconst jobId = source.jobId;\nif (!jobId) throw new Error('Missing jobId for cover generation');\nconst order = source.order || {};\nconst text = source.text || {};\nconst COVER_ART_TARGET = {\n  role: 'front_cover_framed_art',\n  finalSpreadSizeMm: [268.5, 136],\n  frameAspectRatio: 'about 1.46:1 landscape',\n  placement: 'front-cover white image frame in the PPTX-derived cover template',\n  safety: 'do not draw the back cover or spine; keep heroes and key objects comfortably inside the frame so the renderer can crop-cover without cutting them',\n};\n\nasync function apiRequest(options) {\n  return await this.helpers.httpRequest({\n    ...options,\n    headers: {\n      Authorization: 'Bearer ' + $env.FAIRYTELLER_API_TOKEN,\n      ...(options.headers || {}),\n    },\n    json: true,\n  });\n}\n\nasync function patchJob(body) {\n  return await apiRequest.call(this, {\n    method: 'PATCH',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId,\n    headers: { 'Content-Type': 'application/json' },\n    body,\n    timeout: 30000,\n  });\n}\n\nasync function fetchJsonArtifact(fileName) {\n  return await apiRequest.call(this, {\n    method: 'GET',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId + '/artifacts/' + fileName,\n    timeout: 30000,\n  });\n}\n\nasync function fetchImageBase64(url) {\n  if (!url) return null;\n  const absoluteUrl = url.startsWith('http') ? url : 'https://fairyteller.ru' + url;\n  const separator = absoluteUrl.includes('?') ? '&' : '?';\n  const payload = await apiRequest.call(this, {\n    method: 'GET',\n    url: absoluteUrl + separator + 'base64=1',\n    timeout: 30000,\n  });\n  if (!payload?.contentBase64) throw new Error('Fetched reference image has no base64 content');\n  return { mimeType: payload.contentType || 'image/png', data: payload.contentBase64, bytes: payload.bytes || Buffer.from(payload.contentBase64, 'base64').length };\n}\n\nasync function fetchReferenceImages(visuals, visualBible) {\n  const cards = (visualBible?.heroReferenceCards || visuals.heroReferenceCards || []).filter((card) => card.status === 'ready' && card.url);\n  const images = [];\n  for (const card of cards) {\n    const image = await fetchImageBase64.call(this, card.url);\n    if (image?.data) {\n      images.push({ ...image, type: 'hero_card', hero: card.hero, name: card.name || '', ageGroup: card.ageGroup || 'unknown', url: card.url });\n    }\n  }\n\n  const expectedHeroCount = (visualBible?.characters || visuals.characters || order.heroes || [])\n    .filter((hero) => hero?.name || hero?.description || hero?.referenceCardUrl || hero?.hasPhoto || hero?.ageGroup).length;\n  const readyCardHeroCount = new Set(images.filter((image) => image.type === 'hero_card').map((image) => Number(image.hero))).size;\n  const hasPortraitSheet = visuals.portraitSheet?.status === 'ready' && visuals.portraitSheet?.url;\n  const needsPortraitSheet = hasPortraitSheet && (!images.length || (expectedHeroCount > 0 && readyCardHeroCount < expectedHeroCount));\n\n  if (needsPortraitSheet) {\n    const image = await fetchImageBase64.call(this, visuals.portraitSheet.url);\n    if (image?.data) {\n      images.push({ ...image, type: 'portrait_sheet', hero: null, name: 'combined reference sheet', ageGroup: 'mixed', url: visuals.portraitSheet.url });\n    }\n  }\n\n  return images;\n}\n\nfunction referenceMapLines(referenceImages) {\n  return referenceImages.map((image, index) => {\n    if (image.type === 'hero_card') return 'Attached reference image ' + (index + 1) + ' = Hero ' + image.hero + ' (' + (image.name || 'unnamed') + '), age group ' + (image.ageGroup || 'unknown');\n    return 'Attached reference image ' + (index + 1) + ' = combined hero reference sheet';\n  }).join('\\n');\n}\n\nfunction cleanText(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction safetyCleanText(value) {\n  let text = cleanText(value);\n  const replacements = [\n    [/\\bfinal battle\\b/gi, 'final magical choice'],\n    [/\\bbattle\\b/gi, 'dramatic magical confrontation'],\n    [/\\bfight\\b/gi, 'brave challenge'],\n    [/\\battack\\b/gi, 'approach'],\n    [/\\bweapon\\b/gi, 'ancient artifact'],\n    [/\\bblood\\b/gi, 'red light'],\n    [/\\bdeath\\b/gi, 'danger'],\n    [/\\bkill\\b/gi, 'stop'],\n    [/\\bevil\\b/gi, 'mysterious dark force'],\n    [/\\bdarkness\\b/gi, 'shadowed atmosphere'],\n    [/\\bantagonist\\b/gi, 'mysterious rival'],\n    [/\\bthreat\\b/gi, 'mystery'],\n    [/битв[а-я]*/gi, 'магическое испытание'],\n    [/сражен[а-я]*/gi, 'магическое испытание'],\n    [/бой/gi, 'испытание'],\n    [/атак[а-я]*/gi, 'приближение'],\n    [/оружи[а-я]*/gi, 'древний артефакт'],\n    [/кров[а-я]*/gi, 'красный свет'],\n    [/смерт[а-я]*/gi, 'опасность'],\n    [/уби[а-я]*/gi, 'остановить'],\n    [/зло/gi, 'таинственная сила'],\n    [/тьм[а-я]*/gi, 'теневая атмосфера'],\n    [/антагонист[а-я]*/gi, 'таинственный соперник'],\n    [/приспешник[а-я]*/gi, 'таинственная фигура'],\n    [/угроз[а-я]*/gi, 'тайна'],\n  ];\n  for (const [pattern, replacement] of replacements) text = text.replace(pattern, replacement);\n  return text;\n}\n\nfunction normalizeStylePrompt(value) {\n  let prompt = safetyCleanText(value || 'photorealistic cinematic book illustration, realistic people, natural light, print-ready composition');\n  prompt = prompt.replace(/use uploaded photos as strong identity references when available;?/ig, 'use the attached generated character reference cards as stylized identity guidance when available;');\n  if (/photorealistic|realistic/i.test(prompt)) {\n    prompt += ' Privacy-safe generated book-cover illustration, not a documentary photo, not an ID photo, not a direct copy of a private person; avoid injury, weapons, gore, scary violence, or aggressive action.';\n  }\n  return prompt;\n}\n\nfunction storySummary(fullText) {\n  const chapters = fullText?.text?.chapters || text.chapters || [];\n  return chapters.map((chapter) => 'Глава ' + chapter.n + ': ' + safetyCleanText(chapter.title || '') + '. ' + safetyCleanText(chapter.summary || cleanText(chapter.text || (chapter.textBlocks || []).join(' ')).slice(0, 500))).join('\\n');\n}\n\nfunction characterLine(hero) {\n  const label = hero.name || ('Hero ' + (hero.hero || hero.n || ''));\n  const age = hero.ageGroup || 'unknown';\n  const ageNote = age === 'unknown' ? 'age group: unknown/infer from reference image' : 'age group: ' + age + ' (mandatory)';\n  const ref = hero.referenceCardUrl ? 'reference card: ' + hero.referenceCardUrl : '';\n  return [label, ageNote, ref, hero.description || '', hero.relation ? 'relation: ' + hero.relation : ''].filter(Boolean).join('; ');\n}\n\nfunction coverPrompt({ visualBible, fullText, referenceImages }) {\n  const bible = fullText?.text?.bible || text.bible || {};\n  const stylePrompt = normalizeStylePrompt(visualBible?.style?.prompt || order.illustrationStylePrompt || order.illustrationStyle || 'photorealistic cinematic book illustration, realistic people, natural light, print-ready composition');\n  const world = visualBible?.world || {};\n  const characters = (visualBible?.characters || order.heroes || []).map((hero) => {\n    if (hero.name || hero.description || hero.relation || hero.ageGroup) {\n      return characterLine(hero);\n    }\n    return '';\n  }).filter(Boolean).join('\\n');\n  const title = bible.bookTitle || fullText?.text?.preview?.title || text.preview?.title || '';\n  const subtitle = bible.subtitle || '';\n  const coverSummary = bible.coverSummary || fullText?.text?.preview?.summary || text.preview?.summary || '';\n  const referenceMap = referenceMapLines(referenceImages || []);\n  const hasHeroCards = (referenceImages || []).some((image) => image.type === 'hero_card');\n  const hasPortraitSheet = (referenceImages || []).some((image) => image.type === 'portrait_sheet');\n  const referenceInstruction = referenceImages?.length\n    ? (hasHeroCards && hasPortraitSheet\n      ? 'Use the attached generated individual hero reference cards where available, and use the attached combined character reference sheet for any hero whose individual card is missing. Treat them as stylized identity guidance for the cover, not as real-person photo reproduction. Do not swap, merge or average heroes. Preserve recognizable identity cues, adult/child/teen/senior age groups, relative height scale, hair, outfits/accessories and silhouettes.'\n      : (hasHeroCards\n        ? 'Use the attached generated individual hero reference cards as stylized identity guidance for all heroes on the cover. Each card maps to exactly one hero; do not swap, merge, average or reinterpret identities. Preserve recognizable face cues, adult/child/teen/senior age group, relative height scale, hair, outfits/accessories and silhouettes, but render a privacy-safe book-cover illustration rather than a direct photo copy.'\n        : 'Use the attached generated character reference sheet as mandatory identity canon for all heroes on the cover. Preserve the same faces, exact adult/child/teen/senior age group, age impression, relative height scale, hair, outfits/accessories and silhouettes.'))\n    : 'No reference image is attached; preserve identity from written descriptions.';\n  return [\n    'Generate an IMAGE only. Do not answer with text.',\n    'Create one landscape front-cover framed illustration for a printed square children book.',\n    'Final print spread is 268.5 x 136 mm, but this generated artwork is inserted only into the front-cover white image frame. Target artwork frame: about 1.46:1 landscape. Do not create a full wraparound spread, back cover, spine, title panel or border. Compose for the frame itself so the PDF renderer does not need to rescue the crop.',\n    'Do not include any readable text, title, letters, logo, UI, captions, watermark, fake typography, labels, signs or book-page layout. Text will be added later in PDF layout.',\n    '',\n    '[STYLE - highest priority]',\n    stylePrompt,\n    '',\n    '[CHARACTER IDENTITY]',\n    referenceInstruction,\n    referenceMap ? '[REFERENCE IMAGE MAP]\\n' + referenceMap : '',\n    '',\n    '[FRONT COVER FRAME COMPOSITION]',\n    'One strong iconic scene with the main heroes and the important object. It should feel like the promise of the whole story, not a random chapter still. Leave calm negative space in the upper third for a title overlay later, but do not draw text. Keep faces, hands and the important object away from the frame edges so crop-cover placement cannot cut them off.',\n    '',\n    '[WORLD]',\n    'World: ' + (world.title || bible.worldTitle || order.world || ''),\n    'World visual language: ' + (world.visual || bible.worldVisual || ''),\n    'World motifs: ' + (world.motifs || bible.worldMotifs || ''),\n    'World dramatic tension, visualized safely: ' + safetyCleanText(world.conflict || bible.worldConflict || ''),\n    'Location: ' + safetyCleanText(world.location || order.location || bible.location || ''),\n    'Important object: ' + safetyCleanText(world.artifact || order.artifact || bible.artifact || ''),\n    '',\n    '[BOOK]',\n    'Title for context only, do not render it: ' + title,\n    'Subtitle for context only, do not render it: ' + subtitle,\n    'Cover summary: ' + safetyCleanText(coverSummary),\n    '',\n    '[CHARACTERS]',\n    characters || 'Use the main heroes from the story.',\n    '',\n    '[AGE AND ROLE RULE]',\n    'Treat each hero age group as mandatory. Children must read as children, adults as adults, teenagers as teenagers, seniors as seniors. Keep relative height/scale and maturity stable; do not swap ages between heroes.',\n    '',\n    '[WHOLE STORY CONTEXT]',\n    storySummary(fullText).slice(0, 3200),\n    '',\n    '[QUALITY]',\n    'Print-ready artwork for the front-cover image frame, coherent anatomy, readable silhouettes, stable style, rich but not cluttered, no text artifacts, no fake letters, no signs, no border, no letterboxing, no white margin. Avoid violence, injury, weapons, horror, gore, scary close-ups or aggressive action.',\n  ].join('\\n');\n}\n\nfunction findInlineImage(response) {\n  return (response.candidates?.[0]?.content?.parts || []).find((part) => part.inlineData?.data);\n}\nfunction responseText(response) {\n  return (response.candidates?.[0]?.content?.parts || []).map((part) => part.text || '').join(' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction noReferenceCoverPrompt({ visualBible, fullText }) {\n  const bible = fullText?.text?.bible || text.bible || {};\n  const world = visualBible?.world || {};\n  const stylePrompt = normalizeStylePrompt(visualBible?.style?.prompt || order.illustrationStylePrompt || order.illustrationStyle || 'cinematic book cover illustration');\n  return [\n    'Generate an IMAGE only. Do not answer with text.',\n    'Create one unique landscape front-cover framed illustration, about 1.46:1 aspect ratio.',\n    'This is a safety retry: do not use or imitate private person photos. If people appear, show them as small side-view/back-view storybook figures or silhouettes, no close-up faces. Prioritize the world, portal, magical object, architecture, landscape, light and atmosphere.',\n    'No readable text, title, letters, logo, UI, captions, watermark, fake typography, labels, signs or book-page layout.',\n    'Do not create a full wraparound spread, back cover, spine, title panel or border. Keep key objects away from frame edges.',\n    'Style: ' + stylePrompt,\n    'World visual language: ' + safetyCleanText(world.visual || bible.worldVisual || ''),\n    'Location: ' + safetyCleanText(world.location || order.location || bible.location || ''),\n    'Important object: ' + safetyCleanText(world.artifact || order.artifact || bible.artifact || ''),\n    'Book promise: ' + safetyCleanText(bible.coverSummary || text?.preview?.summary || ''),\n    'Mood: wonder, discovery, mystery, warm magic, cinematic light. Avoid violence, injury, weapons, horror, gore, scary faces or aggressive action.',\n  ].join('\\n');\n}\n\nawait patchJob.call(this, {\n  artifacts: { cover: { status: 'generating', requestedAt: new Date().toISOString(), targetPageSizeMm: [268.5, 136] } },\n});\n\ntry {\n  const fullText = await fetchJsonArtifact.call(this, 'full-text.json');\n  const visualsArtifact = await fetchJsonArtifact.call(this, 'visuals.json');\n  const visuals = visualsArtifact.visuals || {};\n  const visualBible = visuals.visualBible || {};\n  const referenceImages = await fetchReferenceImages.call(this, visuals, visualBible);\n  const prompt = coverPrompt({ visualBible, fullText, referenceImages });\n  const requestParts = [{ text: prompt }];\n  for (const image of referenceImages) {\n    if (image?.data) requestParts.push({ inlineData: { mimeType: image.mimeType || 'image/png', data: image.data } });\n  }\n  const request = {\n    contents: [{ role: 'user', parts: requestParts }],\n    generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.35 },\n  };\n  let response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent',\n    headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n    body: request,\n    json: true,\n    timeout: 180000,\n  });\n  let part = findInlineImage(response);\n  let reason = responseText(response);\n  let generationAttempt = 'primary_with_reference_cards';\n  let referenceReduced = false;\n  if (!part) {\n    const retryPrompt = [\n      'Generate an IMAGE only. Privacy-safe landscape front-cover framed artwork, about 1.46:1 aspect ratio.',\n      'No text, no letters, no captions, no logos, no watermark, no border, no letterboxing.',\n      'Use attached generated individual hero reference cards only as stylized identity guidance if present. Do not create a direct real-person photo copy. Do not swap hero identities. Keep age roles and relative height scale stable.',\n      'One iconic front-cover scene: heroes and important object. Do not draw a back cover, spine, spread layout, title panel, or text zones. Keep faces and key objects away from the frame edges.',\n      'Style: ' + normalizeStylePrompt(visualBible?.style?.prompt || order.illustrationStylePrompt || order.illustrationStyle || 'book cover illustration'),\n      'Story: ' + safetyCleanText(fullText?.text?.bible?.coverSummary || text?.bible?.coverSummary || text?.preview?.summary || ''),\n      'Avoid violence, injury, weapons, horror, gore, scary close-ups or aggressive action. Use wonder, discovery, glowing magic, travel, ancient architecture, landscape and the important object.',\n    ].join('\\n');\n    response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent',\n      headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n      body: { contents: [{ role: 'user', parts: [{ text: retryPrompt }, ...referenceImages.filter((image) => image?.data).map((image) => ({ inlineData: { mimeType: image.mimeType || 'image/png', data: image.data } }))] }], generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.18 } },\n      json: true,\n      timeout: 180000,\n    });\n    part = findInlineImage(response);\n    reason = responseText(response) || reason;\n    generationAttempt = 'safe_with_reference_cards';\n  }\n  if (!part) {\n    const environmentPrompt = noReferenceCoverPrompt({ visualBible, fullText });\n    response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent',\n      headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n      body: { contents: [{ role: 'user', parts: [{ text: environmentPrompt }] }], generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.22 } },\n      json: true,\n      timeout: 180000,\n    });\n    part = findInlineImage(response);\n    reason = responseText(response) || reason;\n    generationAttempt = 'safe_environment_no_references';\n    referenceReduced = true;\n  }\n  if (!part) {\n    throw new Error('Gemini did not return an inline image for cover: ' + (reason || response.promptFeedback?.blockReason || response.candidates?.[0]?.finishReason || 'unknown reason'));\n  }\n  const mimeType = part.inlineData.mimeType || 'image/png';\n  const ext = mimeType.includes('webp') ? 'webp' : mimeType.includes('jpeg') || mimeType.includes('jpg') ? 'jpg' : 'png';\n  const fileName = 'cover-spread.' + ext;\n  await apiRequest.call(this, {\n    method: 'PUT',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId + '/files/' + fileName,\n    headers: { 'Content-Type': 'application/json' },\n    body: { contentType: mimeType, contentBase64: part.inlineData.data },\n    timeout: 60000,\n  });\n  const url = '/api/fairyteller/jobs/' + jobId + '/files/' + fileName;\n  const cover = {\n    slot: 'cover',\n    status: 'ready',\n    fileName,\n    url,\n    absoluteUrl: 'https://fairyteller.ru' + url,\n    mimeType,\n    bytes: Buffer.from(part.inlineData.data, 'base64').length,\n    prompt,\n    provider: 'gemini',\n    model: 'gemini-2.5-flash-image',\n    targetPageSizeMm: COVER_ART_TARGET.finalSpreadSizeMm,\n    targetImageFrameAspectRatio: COVER_ART_TARGET.frameAspectRatio,\n    targetImagePlacement: COVER_ART_TARGET.placement,\n    role: 'front_cover_frame_art_no_text',\n    referenceSheetUrl: visualBible?.portraitSheetUrl || null,\n    characterReferenceCardUrls: (visualBible?.heroReferenceCards || []).map((card) => card.url).filter(Boolean),\n    visualBibleVersion: visualBible?.version || 1,\n    generationAttempt,\n    referenceReduced,\n  };\n  const previousJobs = Array.isArray(visuals.imageJobs) ? visuals.imageJobs : [];\n  const imageJobs = [cover, ...previousJobs.filter((image) => image.slot !== 'cover')]\n    .sort((a, b) => String(a.slot).localeCompare(String(b.slot), 'en', { numeric: true }));\n  const updatedVisuals = {\n    ...visuals,\n    imageJobs,\n    imagePrompts: { ...(visuals.imagePrompts || {}), cover: prompt },\n    cover: { ...cover, prompt: undefined },\n  };\n  return [{ json: { ...source, status: 'cover_ready', visuals: updatedVisuals, cover: { ...cover, prompt: undefined } } }];\n} catch (error) {\n  const message = 'Не удалось подготовить обложку: ' + error.message;\n  await patchJob.call(this, { artifacts: { cover: { status: 'failed', error: message } }, error: { message } });\n  throw new Error(message);\n}"
        }
      },
      {
        "id": "3ea589a7-541c-4744-9a56-65730aba5eaa",
        "name": "Write Updated Visuals Artifact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          860,
          300
        ],
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId + \"/artifacts/visuals.json\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { jobId: $json.jobId, status: $json.status, visuals: $json.visuals } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "9528a464-4b6b-4a09-934a-096b0bad350a",
        "name": "Mark Cover Ready",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1180,
          300
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Generate Cover\").item.json.jobId }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { message: \"Обложка готова\", artifacts: { cover: $(\"Generate Cover\").item.json.cover } } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "968858f3-9c12-4725-9969-c6947959b227",
        "name": "Start PDF Render",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1500,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Generate Cover\").item.json.jobId + \"/render-pdf\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 240000
          }
        }
      }
    ],
    "connections": {
      "Cover Pipeline Input": {
        "main": [
          [
            {
              "node": "Generate Cover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Cover": {
        "main": [
          [
            {
              "node": "Write Updated Visuals Artifact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Updated Visuals Artifact": {
        "main": [
          [
            {
              "node": "Mark Cover Ready",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Cover Ready": {
        "main": [
          [
            {
              "node": "Start PDF Render",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "d8217406-3703-4eb6-b0bd-6ea921db60da",
    "activeVersionId": "d8217406-3703-4eb6-b0bd-6ea921db60da",
    "versionCounter": 15,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-05-23T14:22:06.973Z",
        "createdAt": "2026-05-23T14:22:06.973Z",
        "role": "workflow:owner",
        "workflowId": "FVCover20260523",
        "projectId": "yjU1WlmpOKrWZ5oA",
        "project": {
          "updatedAt": "2026-04-01T13:13:29.434Z",
          "createdAt": "2026-04-01T12:58:08.424Z",
          "id": "yjU1WlmpOKrWZ5oA",
          "name": "Nikita Such <aukenbro1@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ad3f1947-a4d2-4d9f-9812-8101e2da0e99"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]