n8n/workflows/fairyteller_full_text.workflow.json
[
  {
    "updatedAt": "2026-05-23T04:35:26.000Z",
    "createdAt": "2026-04-02T01:57:53.242Z",
    "id": "C2Pcin7lctSY5nc2",
    "name": "fairyteller_full_text",
    "description": "Generates chapters 2-5 after the first chapter preview and writes full-text.json for later visuals/rendering.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "c7b0eaf5-6fd6-439f-8c58-4f57af9a0f01",
        "name": "Full Text Pipeline Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\"jobId\":\"ft_example\",\"order\":{\"world\":\"disney_light\",\"chapters\":5,\"heroes\":[]},\"text\":{\"preview\":{\"chapter\":1,\"title\":\"Example\",\"text\":\"...\"},\"bible\":{\"chapterPlan\":[]},\"chapters\":[{\"n\":1,\"title\":\"Example\",\"textBlocks\":[\"a\",\"b\",\"c\",\"d\",\"e\"]}]}}"
        }
      },
      {
        "id": "a12fbf7f-f805-4a89-b5e3-66a0246adf6a",
        "name": "Build Full Text Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          520,
          300
        ],
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst order = item.order || {};\nconst text = item.text || {};\nconst bible = text.bible || {};\nconst firstChapter = text.chapters?.[0] || {};\nconst chaptersTarget = Math.max(1, Math.min(8, Number(order.chapters || bible.chapterPlan?.length || 5)));\nconst laterNumbers = Array.from({ length: Math.max(0, chaptersTarget - 1) }, (_, index) => index + 2);\nconst chapterPlan = Array.isArray(bible.chapterPlan) ? bible.chapterPlan : [];\nconst laterPlan = laterNumbers.map((n) => {\n  const planned = chapterPlan.find((chapter) => Number(chapter.n) === n) || { n, title: 'Глава ' + n, beat: '' };\n  return { n, title: planned.title || ('Глава ' + n), beat: planned.beat || planned.summary || '' };\n});\nconst heroes = (order.heroes || [])\n  .filter((hero) => hero.name || hero.description || hero.relation)\n  .map((hero) => 'Герой ' + hero.n + ': ' + (hero.name || 'без имени') + ' - ' + (hero.description || 'описание не задано') + ' - ' + (hero.relation || 'роль не задана'))\n  .join('\\n');\nconst style = order.illustrationStyle || 'storybook';\nconst worldBrief = [\n  bible.worldTitle ? 'Название мира: ' + bible.worldTitle : '',\n  bible.worldEnv ? 'Среда и законы: ' + bible.worldEnv : '',\n  bible.worldMotifs ? 'Мотивы: ' + bible.worldMotifs : '',\n  bible.worldConflict ? 'Конфликт: ' + bible.worldConflict : '',\n  bible.worldVisual ? 'Визуальный язык: ' + bible.worldVisual : '',\n].filter(Boolean).join('\\n');\nconst firstChapterText = firstChapter.text || (Array.isArray(firstChapter.textBlocks) ? firstChapter.textBlocks.join('\\n\\n') : text.preview?.text || '');\nconst planText = laterPlan.map((chapter) => 'Глава ' + chapter.n + ': ' + chapter.title + '. Бит: ' + chapter.beat).join('\\n');\nconst requestedShape = laterPlan.map((chapter) => '{ \"n\": ' + chapter.n + ', \"title\": \"...\", \"summary\": \"...\", \"textBlocks\": [\"...\", \"...\", \"...\", \"...\", \"...\"] }').join(', ');\nconst systemText = 'Ты - автор персональных книг Fairyteller. Пиши на русском языке, без буквы е с точками. Продолжай уже начатую историю строго по именам, отношениям, миру и фактам пользователя. Не добавляй известных copyrighted персонажей и не копируй чужие вселенные. Верни только валидный JSON, без markdown. Внутри JSON-строк не используй кавычки-елочки, списки и переносы строк; диалоги оформляй через тире.';\nconst userText = 'Нужно дописать персональную книгу после первой главы. Первая глава уже готова и будет показана пользователю сразу; сейчас напиши только главы 2-' + chaptersTarget + ', чтобы получилась цельная книга.\\n\\n' +\n  'Название книги: ' + (bible.bookTitle || text.preview?.title || '') + '\\n' +\n  'Подзаголовок: ' + (bible.subtitle || '') + '\\n' +\n  'Обложечное резюме: ' + (bible.coverSummary || text.preview?.summary || '') + '\\n' +\n  'Мир:\\n' + (worldBrief || order.world || '') + '\\n\\n' +\n  'Место действия: ' + (order.location || bible.location || '') + '\\n' +\n  'Важный предмет/артефакт: ' + (order.artifact || bible.artifact || '') + '\\n' +\n  'Стиль иллюстраций для визуальной логики: ' + style + '\\n\\n' +\n  'Персонажи:\\n' + (heroes || 'Персонажи не заданы; продолжай по первой главе.') + '\\n\\n' +\n  'Первая глава, которую нельзя переписывать:\\n' + firstChapterText + '\\n\\n' +\n  'План следующих глав:\\n' + planText + '\\n\\n' +\n  'Требования к главам 2-' + chaptersTarget + ': каждая глава должна иметь 5 текстовых блоков, каждый блок 450-750 знаков, без markdown, без нумерованных списков, с живыми сценами, диалогами и действием. Не пересказывай первую главу; продолжай сюжет. Финальная глава должна закрыть арку и дать теплое послевкусие.\\n\\n' +\n  'Верни JSON строго такой формы: { \"bookTitle\": \"...\", \"subtitle\": \"...\", \"coverSummary\": \"...\", \"chapters\": [' + requestedShape + '] }';\nconst geminiRequest = {\n  contents: [{ role: 'user', parts: [{ text: systemText + '\\n\\n' + userText }] }],\n  generationConfig: {\n    responseMimeType: 'application/json',\n    temperature: 0.65,\n    maxOutputTokens: 18000,\n  },\n};\nreturn [{ json: { ...item, status: 'full_text_generating', laterPlan, fullTextPrompt: userText, geminiModel: 'gemini-2.5-flash', geminiRequest } }];"
        }
      },
      {
        "id": "efc79891-364d-4c83-8adc-12d57cdcc2e1",
        "name": "Generate Full Text with Gemini",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          800,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/\" + $json.geminiModel + \":generateContent\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-goog-api-key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ $json.geminiRequest }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 240000
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "id": "fd95a873-3030-4182-95e3-43f248f1f56e",
        "name": "Normalize Full Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1080,
          300
        ],
        "parameters": {
          "jsCode": "const source = $('Build Full Text Prompt').first().json;\nconst response = $input.first().json;\nfunction cleanText(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\nfunction collectText(value) {\n  return String(value?.candidates?.[0]?.content?.parts?.map((part) => part.text || '').join('') || '').trim();\n}\nfunction extractJsonCandidate(text) {\n  let candidate = String(text || '').trim().replace(/^\\uFEFF/, '');\n  const fence = candidate.match(/^\\`\\`\\`(?:json)?\\s*([\\s\\S]*?)\\s*\\`\\`\\`$/i);\n  if (fence) candidate = fence[1].trim();\n  const firstBrace = candidate.indexOf('{');\n  const lastBrace = candidate.lastIndexOf('}');\n  if (firstBrace >= 0 && lastBrace > firstBrace) candidate = candidate.slice(firstBrace, lastBrace + 1);\n  return candidate;\n}\nfunction escapeControlCharsInsideStrings(text) {\n  let result = '';\n  let inString = false;\n  let escaped = false;\n  for (const char of text) {\n    if (escaped) { result += char; escaped = false; continue; }\n    if (char === '\\\\') { result += char; escaped = true; continue; }\n    if (char === '\"') { inString = !inString; result += char; continue; }\n    if (inString && char === '\\n') { result += '\\\\n'; continue; }\n    if (inString && char === '\\r') { result += '\\\\r'; continue; }\n    if (inString && char === '\\t') { result += '\\\\t'; continue; }\n    result += char;\n  }\n  return result;\n}\nfunction repairLikelyJson(text) {\n  return String(text || '')\n    .replace(/,\\s*([}\\]])/g, '$1')\n    .replace(/\"\\s*\\n\\s*\"/g, '\"\\n,\"')\n    .replace(/}\\s*\\n\\s*\"/g, '}\\n,\"')\n    .replace(/]\\s*\\n\\s*\"/g, ']\\n,\"');\n}\nfunction readStringField(text, key) {\n  const re = new RegExp('\"' + key + '\"\\\\s*:\\\\s*\"([\\\\s\\\\S]*?)\"\\\\s*(?:,|\\\\n\\\\s*\"|\\\\n\\\\s*[}\\\\]])');\n  const match = String(text || '').match(re);\n  if (!match) return '';\n  return cleanText(match[1].replace(/\\\\n/g, ' ').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\'));\n}\nfunction extractStringValuesAfterKey(text, key, limit = 5) {\n  const sourceText = String(text || '');\n  const keyIndex = sourceText.indexOf('\"' + key + '\"');\n  if (keyIndex < 0) return [];\n  const arrayStart = sourceText.indexOf('[', keyIndex);\n  if (arrayStart < 0) return [];\n  const values = [];\n  let i = arrayStart + 1;\n  while (i < sourceText.length && values.length < limit) {\n    while (i < sourceText.length && sourceText[i] !== '\"') {\n      if (sourceText[i] === ']' && values.length > 0) return values;\n      i += 1;\n    }\n    if (i >= sourceText.length) break;\n    i += 1;\n    let value = '';\n    let escaped = false;\n    while (i < sourceText.length) {\n      const char = sourceText[i];\n      if (escaped) { value += char === 'n' ? ' ' : char; escaped = false; i += 1; continue; }\n      if (char === '\\\\') { escaped = true; i += 1; continue; }\n      if (char === '\"') { i += 1; break; }\n      value += char;\n      i += 1;\n    }\n    const cleaned = cleanText(value);\n    if (cleaned) values.push(cleaned);\n  }\n  return values;\n}\nfunction splitRawTextIntoBlocks(text) {\n  let raw = cleanText(String(text || '').replaceAll('\\\\n', ' ').replaceAll('\\n', ' ')\n    .replace(/\"(?:n|title|summary|textBlocks|text1|text2|text3|text4|text5)\"\\s*:?/g, ' ')\n    .replace(/[{}\\[\\],]/g, ' '));\n  if (raw.length < 180) return [];\n  const minSize = Math.max(100, Math.floor(raw.length / 8));\n  const target = Math.max(minSize, Math.floor(raw.length / 5));\n  const blocks = [];\n  let rest = raw;\n  while (blocks.length < 4 && rest.length > target) {\n    let cut = rest.lastIndexOf('. ', target + 220);\n    if (cut < target - 220) cut = rest.lastIndexOf('! ', target + 220);\n    if (cut < target - 220) cut = rest.lastIndexOf('? ', target + 220);\n    if (cut < target - 220) cut = rest.indexOf('. ', target);\n    if (cut < 0 || cut > rest.length - minSize) cut = Math.min(rest.length - minSize, target);\n    const block = cleanText(rest.slice(0, cut + 1));\n    if (block) blocks.push(block);\n    rest = cleanText(rest.slice(cut + 1));\n  }\n  if (rest) blocks.push(cleanText(rest));\n  while (blocks.length < 5 && blocks.some((block) => block.length > minSize * 2)) {\n    const index = blocks.reduce((maxIndex, block, currentIndex) => block.length > blocks[maxIndex].length ? currentIndex : maxIndex, 0);\n    const block = blocks[index];\n    let cut = block.lastIndexOf('. ', Math.floor(block.length / 2) + 120);\n    if (cut < Math.floor(block.length / 2) - 120) cut = Math.floor(block.length / 2);\n    blocks.splice(index, 1, cleanText(block.slice(0, cut + 1)), cleanText(block.slice(cut + 1)));\n  }\n  return blocks.slice(0, 5).filter(Boolean);\n}\nfunction normalizeTextBlocks(blocks, rawFallback) {\n  let cleaned = Array.isArray(blocks) ? blocks.map((block) => cleanText(block)).filter(Boolean) : [];\n  if (cleaned.length === 5) return cleaned;\n\n  const fallbackText = cleanText(rawFallback || cleaned.join(' '));\n  const split = splitRawTextIntoBlocks(fallbackText);\n  if (split.length === 5) return split;\n\n  if (cleaned.length > 5) {\n    const merged = cleaned.slice(0, 4);\n    merged.push(cleaned.slice(4).join(' '));\n    return merged.map((block) => cleanText(block)).filter(Boolean);\n  }\n\n  return cleaned;\n}\nfunction parseLooseFullText(raw, expectedNumbers) {\n  const text = extractJsonCandidate(raw);\n  const chapters = [];\n  for (let index = 0; index < expectedNumbers.length; index += 1) {\n    const n = expectedNumbers[index];\n    const marker = new RegExp('\"n\"\\\\s*:\\\\s*' + n + '\\\\b');\n    const match = marker.exec(text);\n    let segment = '';\n    if (match) {\n      const start = Math.max(0, text.lastIndexOf('{', match.index));\n      const nextN = expectedNumbers[index + 1];\n      const nextMatch = nextN ? new RegExp('\"n\"\\\\s*:\\\\s*' + nextN + '\\\\b').exec(text.slice(match.index + 1)) : null;\n      const end = nextMatch ? match.index + 1 + nextMatch.index : text.length;\n      segment = text.slice(start, end);\n    }\n    let blocks = segment ? extractStringValuesAfterKey(segment, 'textBlocks', 12) : [];\n    if (blocks.length !== 5) {\n      const keyedBlocks = ['text1','text2','text3','text4','text5'].map((key) => readStringField(segment, key)).filter(Boolean);\n      if (keyedBlocks.length) blocks = keyedBlocks;\n    }\n    blocks = normalizeTextBlocks(blocks, segment);\n    if (blocks.length !== 5) return null;\n    chapters.push({\n      n,\n      title: readStringField(segment, 'title') || 'Глава ' + n,\n      summary: readStringField(segment, 'summary') || '',\n      textBlocks: blocks,\n    });\n  }\n  return {\n    bookTitle: readStringField(text, 'bookTitle'),\n    subtitle: readStringField(text, 'subtitle'),\n    coverSummary: readStringField(text, 'coverSummary'),\n    chapters,\n  };\n}\nfunction parseGeminiJson(raw, expectedNumbers) {\n  const candidate = extractJsonCandidate(raw);\n  const escaped = escapeControlCharsInsideStrings(candidate);\n  const attempts = [candidate, escaped, repairLikelyJson(escaped)];\n  let lastError;\n  for (const attempt of attempts) {\n    try { return JSON.parse(attempt); } catch (error) { lastError = error; }\n  }\n  const loose = parseLooseFullText(raw, expectedNumbers);\n  if (loose) return loose;\n  throw new Error('Gemini full-text response was not valid JSON after repair: ' + (lastError?.message || 'unknown parse error'));\n}\nconst rawText = collectText(response);\nif (!rawText) throw new Error('Gemini full-text response was empty');\nconst expectedNumbers = (source.laterPlan || []).map((chapter) => Number(chapter.n));\nconst generated = parseGeminiJson(rawText, expectedNumbers);\nconst laterChapters = Array.isArray(generated.chapters) ? generated.chapters : [];\nconst normalizedLater = laterChapters.map((chapter, index) => {\n  const n = Number(chapter.n || expectedNumbers[index] || index + 2);\n  const rawBlocks = Array.isArray(chapter.textBlocks)\n    ? chapter.textBlocks\n    : ['text1','text2','text3','text4','text5'].map((key) => chapter[key]).filter(Boolean);\n  const rawFallback = chapter.text || rawBlocks.join(' ');\n  const textBlocks = normalizeTextBlocks(rawBlocks, rawFallback);\n  if (textBlocks.length !== 5) throw new Error('Expected 5 text blocks for chapter ' + n + ', got ' + textBlocks.length);\n  return { n, title: cleanText(chapter.title) || 'Глава ' + n, summary: cleanText(chapter.summary), textBlocks, text: textBlocks.join('\\n\\n'), status: 'ready' };\n}).filter((chapter) => expectedNumbers.includes(chapter.n));\nif (normalizedLater.length !== expectedNumbers.length) {\n  throw new Error('Expected later chapters ' + expectedNumbers.join(', ') + ', got ' + normalizedLater.map((chapter) => chapter.n).join(', '));\n}\nconst firstChapter = source.text?.chapters?.[0];\nif (!firstChapter) throw new Error('Missing first chapter from upstream text payload');\nconst chapters = [firstChapter, ...normalizedLater].sort((a, b) => Number(a.n) - Number(b.n));\nconst fullText = {\n  bible: { ...(source.text?.bible || {}), bookTitle: generated.bookTitle || source.text?.bible?.bookTitle || '', subtitle: generated.subtitle || source.text?.bible?.subtitle || '', coverSummary: generated.coverSummary || source.text?.bible?.coverSummary || '' },\n  preview: source.text?.preview || null,\n  chapters,\n  generation: { provider: 'gemini', model: source.geminiModel || 'gemini-2.5-flash', stage: 'full_text', responseId: response.responseId || null },\n};\nreturn [{ json: { ...source, status: 'full_text_ready', text: fullText, fullText: { status: 'ready', chapterCount: chapters.length, laterChapterCount: normalizedLater.length } } }];"
        }
      },
      {
        "id": "f8ac4a2c-c1e8-46ac-bd93-f1125c99f1cb",
        "name": "Write Full Text Artifact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1360,
          300
        ],
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId + \"/artifacts/full-text.json\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { jobId: $json.jobId, status: $json.status, text: $json.text, fullText: $json.fullText } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "d56ce141-2871-4f25-ac47-2d7c956ac5ec",
        "name": "Mark Full Text Artifact Ready",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1640,
          300
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Normalize Full Text\").item.json.jobId }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { artifacts: { fullText: { status: \"ready\", url: \"/api/fairyteller/jobs/\" + $(\"Normalize Full Text\").item.json.jobId + \"/artifacts/full-text.json\", chapterCount: $(\"Normalize Full Text\").item.json.fullText.chapterCount } } } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      }
    ],
    "connections": {
      "Full Text Pipeline Input": {
        "main": [
          [
            {
              "node": "Build Full Text Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Full Text Prompt": {
        "main": [
          [
            {
              "node": "Generate Full Text with Gemini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Full Text with Gemini": {
        "main": [
          [
            {
              "node": "Normalize Full Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Full Text": {
        "main": [
          [
            {
              "node": "Write Full Text Artifact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Full Text Artifact": {
        "main": [
          [
            {
              "node": "Mark Full Text Artifact Ready",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "d2c5fdc8-93e9-493e-8b11-458675a34749",
    "activeVersionId": null,
    "versionCounter": 9,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-04-02T01:57:53.248Z",
        "createdAt": "2026-04-02T01:57:53.248Z",
        "role": "workflow:owner",
        "workflowId": "C2Pcin7lctSY5nc2",
        "projectId": "yjU1WlmpOKrWZ5oA",
        "project": {
          "updatedAt": "2026-04-01T13:13:29.434Z",
          "createdAt": "2026-04-01T12:58:08.424Z",
          "id": "yjU1WlmpOKrWZ5oA",
          "name": "Nikita Such <aukenbro1@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ad3f1947-a4d2-4d9f-9812-8101e2da0e99"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
