n8n/workflows/fairyteller_intake.workflow.json
[
  {
    "updatedAt": "2026-05-25T15:27:22.000Z",
    "createdAt": "2026-05-23T04:35:41.682Z",
    "id": "Vty7vSn4vd5Nduht",
    "name": "fairyteller_intake",
    "description": "Accepts fairyteller.ru/create orders, persists them in the Fairyteller Job API, starts the text pipeline asynchronously, and returns a fast 202 response.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "4e075118-0311-4afc-a04e-ac7f9f007393",
        "name": "Create Book Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "fairyteller/create",
          "responseMode": "responseNode",
          "options": {
            "binaryData": true,
            "binaryPropertyName": "data"
          }
        },
        "webhookId": "c281dfbd-4819-49fb-a3c1-286bc91f5ce2"
      },
      {
        "id": "3f590b22-ec12-40d0-b81d-e3e13e2e947c",
        "name": "Normalize Order and Create Job",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          540,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const first = $input.first();\nconst body = first.json.body || first.json || {};\nconst binary = first.binary || {};\nconst now = new Date().toISOString();\nconst jobId = `ft_${Date.now()}_${Math.random().toString(36).slice(2, 8)}`;\n\nfunction parseBoolean(value) {\n  return value === true || value === 'true' || value === '1' || value === 1;\n}\n\nfunction normalizeAgeGroup(value) {\n  const raw = String(value || '').toLowerCase().trim();\n  if (!raw) return '';\n  if (/^(child|kid|реб[её]нок|дет[ие]|малыш|мальчик|девочка)$/.test(raw)) return 'child';\n  if (/^(teen|teenager|подросток|тинейджер)$/.test(raw)) return 'teen';\n  if (/^(adult|взрослый|взрослая|родитель)$/.test(raw)) return 'adult';\n  if (/^(senior|elder|пожилой|пожилая|бабушка|дедушка)$/.test(raw)) return 'senior';\n  return '';\n}\n\nfunction inferHeroAgeGroup({ explicit, name, description, relation }) {\n  const normalizedExplicit = normalizeAgeGroup(explicit);\n  if (normalizedExplicit) return { group: normalizedExplicit, source: 'explicit' };\n\n  const text = [name, description, relation].filter(Boolean).join(' ').toLowerCase();\n  const ageMatch = text.match(/(?:^|\\D)(\\d{1,2})\\s*(?:лет|год(?:а|ов)?|years?|yo|y\\.?o\\.?)(?:\\D|$)/i);\n  if (ageMatch) {\n    const age = Number(ageMatch[1]);\n    if (age > 0 && age <= 12) return { group: 'child', source: 'age_number' };\n    if (age >= 13 && age <= 17) return { group: 'teen', source: 'age_number' };\n    if (age >= 60) return { group: 'senior', source: 'age_number' };\n    if (age >= 18) return { group: 'adult', source: 'age_number' };\n  }\n\n  const keywordRules = [\n    { group: 'senior', re: /(бабушк|дедушк|пожил|старик|старушк|grandmother|grandfather|grandma|grandpa|senior|elder)/i },\n    { group: 'child', re: /(реб[её]нок|детск|дети|малыш|мальчик|девочка|сын|дочь|дочка|школьник|школьница|ученик|ученица|kid|child|boy|girl)/i },\n    { group: 'teen', re: /(подрост|тинейдж|teenager|teen)/i },\n    { group: 'adult', re: /(взросл|родител|мама|папа|мать|отец|муж|жена|дядя|т[её]тя|mother|father|parent|adult|uncle|aunt)/i },\n  ];\n  for (const rule of keywordRules) {\n    if (rule.re.test(text)) return { group: rule.group, source: 'keyword' };\n  }\n\n  return { group: 'unknown', source: 'not_detected' };\n}\n\nconst binaryEntries = Object.entries(binary);\nconst imageBinaryEntries = binaryEntries.filter(([, value]) => String(value?.mimeType || '').startsWith('image/'));\n\nfunction findPhotoField(n) {\n  const exact = `hero${n}_photo`;\n  if (binary[exact]) return exact;\n\n  const named = binaryEntries.find(([key, value]) => {\n    const fieldName = value?.fieldName || value?.formFieldName || value?.name || '';\n    return key === exact || key.startsWith(`${exact}_`) || key.includes(exact) || fieldName === exact || fieldName.includes(exact);\n  });\n  if (named) return named[0];\n\n  const generic = imageBinaryEntries.filter(([key]) => key === 'data' || /^data\\d+$/.test(key) || key.startsWith('data_'));\n  return generic[n - 1]?.[0] || null;\n}\n\nconst heroes = [];\nconst photoRefs = [];\nfor (const n of [1, 2, 3, 4]) {\n  const photoField = findPhotoField(n);\n  const photo = photoField ? binary[photoField] : null;\n  const ageInfo = inferHeroAgeGroup({\n    explicit: body[`hero${n}_age_group`] || body[`hero${n}_age`] || '',\n    name: body[`hero${n}_name`] || '',\n    description: body[`hero${n}_desc`] || '',\n    relation: body[`hero${n}_rel`] || '',\n  });\n  const hero = {\n    n,\n    name: body[`hero${n}_name`] || '',\n    description: body[`hero${n}_desc`] || '',\n    relation: body[`hero${n}_rel`] || '',\n    ageGroup: ageInfo.group,\n    ageGroupSource: ageInfo.source,\n    photoField,\n    photoMime: photo?.mimeType || body[`hero${n}_photo_mime`] || null,\n    photoFileName: photo?.fileName || body[`hero${n}_photo_name`] || null,\n    hasPhoto: Boolean(photoField),\n  };\n  if (hero.name || hero.description || hero.photoField) heroes.push(hero);\n  if (photoField && photo) {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, photoField);\n    photoRefs.push({ hero: n, key: photoField, mimeType: hero.photoMime || 'image/jpeg', fileName: hero.photoFileName || null, data: buffer.toString('base64') });\n  }\n}\n\nreturn [{\n  json: {\n    jobId,\n    status: 'received',\n    createdAt: now,\n    source: 'fairyteller_create',\n    order: {\n      world: body.world || 'disney_light',\n      newyearMode: parseBoolean(body.newyear_mode),\n      location: body.location || '',\n      artifact: body.artifact || '',\n      email: String(body.email || '').toLowerCase(),\n      illustrationStyle: body.illustration_style || 'photorealistic',\n      illustrationStylePrompt: body.illustration_style_prompt || '',\n      lengthTarget: Number(body.length_target || 15000),\n      chapters: Number(body.chapters || 5),\n      titleNeed: parseBoolean(body.title_need),\n      language: body.language || 'ru',\n      _photoRefs: photoRefs,\n      heroes,\n    },\n    photoRefs,\n    pipeline: { next: 'fairyteller_text', previewEnabled: true, portraitizerEnabled: true },\n  },\n}];"
        }
      },
      {
        "id": "66156980-4a79-440f-9ccb-5c53fa1c166a",
        "name": "Create Job in Fairyteller API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          840,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://fairyteller.ru/api/fairyteller/jobs",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const { _photoRefs, ...order } = $json.order || {}; return { jobId: $json.jobId, source: $json.source, order }; })() }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "f7a73f9d-d0cb-4034-bd52-13cda84d04fb",
        "name": "Attach Job API Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1140,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const normalized = $('Normalize Order and Create Job').first().json;\nconst apiJob = $input.first().json;\nreturn [{\n  json: {\n    ...normalized,\n    jobId: apiJob.jobId || normalized.jobId,\n    jobApi: apiJob,\n  },\n}];"
        }
      },
      {
        "id": "3b3386c2-af72-4885-8c11-37de434fe0c9",
        "name": "Start Text Pipeline",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          300
        ],
        "parameters": {
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "kCtpw2d7pEOI3QRF",
            "mode": "list",
            "cachedResultName": "fairyteller_text"
          },
          "mode": "once",
          "options": {
            "waitForSubWorkflow": false
          }
        }
      },
      {
        "id": "977224ee-0fcc-484d-bede-3e5f38ddcebc",
        "name": "Respond 202 Accepted",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1740,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: true, status: \"received\", jobId: $(\"Attach Job API Result\").item.json.jobId, statusUrl: \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Attach Job API Result\").item.json.jobId, message: \"Book job accepted\" } }}",
          "options": {
            "responseCode": 202
          }
        }
      }
    ],
    "connections": {
      "Create Book Webhook": {
        "main": [
          [
            {
              "node": "Normalize Order and Create Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Order and Create Job": {
        "main": [
          [
            {
              "node": "Create Job in Fairyteller API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Job in Fairyteller API": {
        "main": [
          [
            {
              "node": "Attach Job API Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Attach Job API Result": {
        "main": [
          [
            {
              "node": "Start Text Pipeline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Text Pipeline": {
        "main": [
          [
            {
              "node": "Respond 202 Accepted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true
    },
    "staticData": null,
    "meta": {
      "aiBuilderAssisted": true
    },
    "pinData": {},
    "versionId": "815f0a83-3b90-4947-9cf8-46552cfba355",
    "activeVersionId": "815f0a83-3b90-4947-9cf8-46552cfba355",
    "versionCounter": 16,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-05-23T04:35:41.688Z",
        "createdAt": "2026-05-23T04:35:41.688Z",
        "role": "workflow:owner",
        "workflowId": "Vty7vSn4vd5Nduht",
        "projectId": "yjU1WlmpOKrWZ5oA",
        "project": {
          "updatedAt": "2026-04-01T13:13:29.434Z",
          "createdAt": "2026-04-01T12:58:08.424Z",
          "id": "yjU1WlmpOKrWZ5oA",
          "name": "Nikita Such <aukenbro1@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ad3f1947-a4d2-4d9f-9812-8101e2da0e99"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
