n8n/workflows/fairyteller_visuals.workflow.json
[
  {
    "updatedAt": "2026-05-25T15:53:05.000Z",
    "createdAt": "2026-05-23T04:37:02.464Z",
    "id": "RXzoJ7Bdlr2y3l60",
    "name": "fairyteller_visuals",
    "description": "Generates the first chapter illustration with Gemini, stores it as a job file, writes visuals.json, and starts render/publish asynchronously.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "cc9d99de-b6de-4e7c-9536-62ea0d633019",
        "name": "Visuals Pipeline Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\"jobId\":\"ft_example\",\"order\":{\"illustrationStyle\":\"disney\",\"heroes\":[]},\"text\":{\"preview\":{\"chapter\":1,\"summary\":\"Two heroes by the river with a compass\",\"title\":\"Example\"},\"chapters\":[]}}"
        }
      },
      {
        "id": "e01b3a56-6d8f-4555-8a72-d6d11df70134",
        "name": "Mark Visuals Generating",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          840,
          300
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": {
            "status": "visuals_generating",
            "stage": "visuals",
            "progress": 55,
            "message": "Готовим иллюстрацию первой главы"
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "e76f8055-2311-4c4d-92d1-4c5634cfcdc5",
        "name": "Build Chapter 1 Image Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const source = $('Normalize Hero Reference Sheet').first().json;\nconst jobId = source.jobId || 'ft_' + Date.now();\nconst style = source.order?.illustrationStyle || 'storybook';\nconst interiorImageTarget = {\n  role: 'interior_chapter_image_page',\n  pageSizeMm: [136, 136],\n  aspectRatio: '1:1',\n  printDpiEquivalent: 'about 1606 x 1606 px at 300 DPI',\n  placement: 'right-hand full-page chapter opener illustration',\n  safety: 'full bleed square composition; keep faces, hands, key props and readable silhouettes away from the left 15% gutter/spine zone and the outer 3mm trim edge',\n};\nconst fallbackStylePrompts = {\n  disney: 'hand-drawn storybook animation aesthetic: expressive faces, clean outlines, vivid balanced colors, cinematic lighting, painterly background',\n  watercolor: 'soft watercolor illustration, translucent washes, paper texture, gentle light',\n  naive: 'naive folk storybook painting, simple bold shapes, warm handmade charm',\n  toonflat: 'vintage flat cartoon storybook look, bold black outlines, flat warm colors, playful expressions',\n  minibrick: 'brick-miniature toy diorama style: characters must be brick-built minifigures with cylindrical heads, C-shaped hands, blocky bodies, visible plastic studs and seams, glossy toy material, modular brick-built scenery',\n  claymotion: 'handmade clay stop-motion storybook diorama, tactile sculpted clay textures, warm light',\n  yarncraft: 'hand-knitted textile storybook diorama, visible yarn stitches and soft felt details',\n  celcinema: 'cinematic cel-animation storybook look, clean color blocks, soft painterly background',\n};\nconst makeStylePrompt = source.order?.illustrationStylePrompt || fallbackStylePrompts[style] || 'photorealistic cinematic book illustration, realistic people, natural light, print-ready composition';\nconst heroList = source.order?.heroes || [];\nconst allHeroReferenceCards = source.heroReferenceCards || [];\nconst referenceCards = allHeroReferenceCards.filter((card) => card.status === 'ready' && card.contentBase64);\nconst fallbackHeroCards = allHeroReferenceCards.filter((card) => card.status === 'source_photo_fallback');\nfunction publicCard(card) {\n  const { contentBase64, prompt, ...rest } = card;\n  return rest;\n}\nfunction cardForHero(hero) {\n  return referenceCards.find((card) => Number(card.hero) === Number(hero.n || hero.hero));\n}\nfunction characterLine(hero) {\n  const label = hero.name || ('Hero ' + (hero.hero || hero.n || ''));\n  const age = hero.ageGroup || 'unknown';\n  const ageNote = age === 'unknown' ? 'age group: unknown/infer from reference image' : 'age group: ' + age + ' (mandatory)';\n  const card = cardForHero(hero);\n  return [label, ageNote, card ? 'reference card: ' + card.url : 'reference card: none', hero.description || '', hero.relation ? 'relation: ' + hero.relation : ''].filter(Boolean).join('; ');\n}\nconst heroes = heroList.map(characterLine).join('\\n');\nconst referenceMap = referenceCards.map((card, index) => 'Attached reference image ' + (index + 1) + ' = Hero ' + card.hero + ' (' + (card.name || 'unnamed') + '), age group ' + (card.ageGroup || 'unknown')).join('\\n');\nconst summary = source.text?.preview?.summary || source.text?.chapters?.[0]?.summary || 'Main characters in the opening scene with the important object.';\nconst location = source.order?.location || source.text?.bible?.location || '';\nconst artifact = source.order?.artifact || source.text?.bible?.artifact || '';\nconst bible = source.text?.bible || {};\nconst worldDirection = [\n  bible.worldTitle ? 'World: ' + bible.worldTitle : '',\n  bible.worldVisual ? 'World visual language: ' + bible.worldVisual : '',\n  bible.worldMotifs ? 'World motifs to show through environment/props: ' + bible.worldMotifs : '',\n  bible.worldConflict ? 'Emotional/environmental tension: ' + bible.worldConflict : '',\n].filter(Boolean).join(' ');\nconst hasReferenceCards = referenceCards.length > 0;\nconst hasPortraitSheet = source.portraitSheet?.status === 'ready' && Boolean(source.portraitSheet?.contentBase64);\nconst needsPortraitSheetFallback = fallbackHeroCards.length > 0;\nconst referencePolicy = hasReferenceCards\n  ? (needsPortraitSheetFallback && hasPortraitSheet ? 'per_hero_cards_plus_combined_sheet_for_fallback_heroes' : 'per_hero_reference_cards_are_required_identity_canon')\n  : (hasPortraitSheet ? 'portrait_sheet_is_required_identity_canon' : 'written_descriptions_only');\nconst visualBible = {\n  version: 2,\n  referencePolicy,\n  referenceArchitecture: hasReferenceCards ? (needsPortraitSheetFallback ? 'per_hero_reference_cards_v1_with_combined_sheet_fallback' : 'per_hero_reference_cards_v1') : 'single_portrait_sheet_v1',\n  portraitSheetUrl: source.portraitSheet?.status === 'ready' ? source.portraitSheet.url : null,\n  portraitSheetStatus: source.portraitSheet?.status || 'missing',\n  photoRefCount: source.portraitSheet?.photoRefCount || source.portraitizer?.photoRefCount || 0,\n  heroReferenceCards: allHeroReferenceCards.map(publicCard),\n  style: {\n    id: style,\n    prompt: makeStylePrompt,\n  },\n  world: {\n    title: bible.worldTitle || source.order?.world || '',\n    visual: bible.worldVisual || '',\n    motifs: bible.worldMotifs || '',\n    conflict: bible.worldConflict || '',\n    location,\n    artifact,\n  },\n  imageTargets: {\n    chapterPage: interiorImageTarget,\n  },\n  characters: heroList.map((hero) => {\n    const card = cardForHero(hero);\n    return {\n      hero: hero.n,\n      name: hero.name || '',\n      description: hero.description || '',\n      relation: hero.relation || '',\n      ageGroup: hero.ageGroup || 'unknown',\n      ageGroupSource: hero.ageGroupSource || 'not_detected',\n      hasPhoto: Boolean(hero.photoField || hero.hasPhoto),\n      referenceCardUrl: card?.url || null,\n      referenceSheetUrl: source.portraitSheet?.status === 'ready' ? source.portraitSheet.url : null,\n    };\n  }),\n  consistencyRules: [\n    hasReferenceCards ? 'Use the separate per-hero reference cards for every book image slot; never merge or swap hero identity.' : 'Use the same generated character reference sheet for every book image slot.',\n    'Preserve facial identity cues, exact adult/child/teen/senior age group, age impression, height scale, hair, glasses/accessories, outfit cues, proportions and role silhouette across all images.',\n    'Keep the selected illustration style stable across cover and all chapter images.',\n    'Keep world palette, lighting, atmosphere, environment motifs and important object continuity stable across the book.',\n    'Do not attach original user photos to chapter images; only generated hero reference cards or the generated reference sheet are the reusable visual canon.',\n  ],\n};\nconst referenceInstruction = hasReferenceCards\n  ? (needsPortraitSheetFallback && hasPortraitSheet\n    ? 'Use the attached individual hero reference cards where available, and use the attached combined hero reference sheet for any hero without an individual card. Do not swap, merge, average or reinterpret identities. Preserve each hero face/design, apparent age, height scale, hair, accessories, outfit cues, proportions and role silhouette.'\n    : 'Use the attached individual hero reference images as the primary identity canon. Each attached image maps to exactly one hero; do not swap, merge, average or reinterpret identities. Preserve each hero face, apparent age, height scale, hair, accessories, outfit cues, proportions and role silhouette.')\n  : (hasPortraitSheet\n    ? 'Use the attached generated character reference sheet as the primary canon for the heroes. It was created from the user photo references in the selected illustration style. Preserve the generated hero design consistently: facial identity cues, apparent age, height scale, hair, glasses/accessories, outfit cues, proportions, and overall visual role. Do not go back to the original photos at this stage.'\n    : 'No generated character reference image is attached; use the written hero descriptions consistently.');\nconst prompt = 'Create a square 1:1 full-page book illustration for a 136 x 136 mm interior page. Compose for the final square page itself, not as a crop from a wider/vertical scene. Absolutely no readable text inside the image: no chapter numbers, no chapter titles, no signs, no labels, no captions, no fake letters, no book-page typography, no posters, no banners, no UI. If the scene contains papers/books/signs, render them as abstract unreadable texture only. Full-bleed square artwork only: fill every edge with the scene, no white margins, no empty paper background, no decorative border, no letterboxing. The PDF renderer will place all titles and page design separately.\\n\\n' +\n  '[PAGE TARGET]\\nFinal placement: ' + interiorImageTarget.placement + '\\nPage size: 136 x 136 mm, aspect ratio 1:1 square. At print scale this corresponds to about 1606 x 1606 px at 300 DPI. Fill the entire square page edge-to-edge; no letterboxing, no decorative frame, no landscape or portrait canvas. Do not leave white or blank margins. Treat the outer 3 mm and the left 15% gutter/spine side as unsafe for faces, hands, the important object and other must-read details.\\n\\n' +\n  '[PRIORITY]\\nSTYLE has highest priority; on any conflict follow STYLE.\\nCHARACTER REFERENCE IMAGES are the identity canon and must be used for the heroes.\\nWORLD VISUAL controls palette, light, atmosphere, environment and props.\\nVISUAL BIBLE must stay consistent for every image in the book.\\n\\n' +\n  '[VISUAL BIBLE]\\nReference policy: ' + visualBible.referencePolicy + '\\nStyle id: ' + visualBible.style.id + '\\nPortrait sheet URL: ' + (visualBible.portraitSheetUrl || 'none') + '\\nHero reference cards: ' + (visualBible.heroReferenceCards.map((card) => 'Hero ' + card.hero + ' -> ' + card.url).join('; ') || 'none') + '\\nConsistency: ' + visualBible.consistencyRules.join(' ') + '\\n\\n' +\n  '[CHARACTER REFERENCE IMAGES]\\n' + referenceInstruction + (referenceMap ? '\\n' + referenceMap : '') + '\\n\\n' +\n  '[WORLD VISUAL]\\n' + (worldDirection || 'Use the story bible atmosphere and setting consistently.') + '\\n\\n' +\n  '[STYLE]\\n' + makeStylePrompt + '\\n\\n' +\n  '[SCENE]\\n' + summary + '\\n\\n' +\n  '[LOCATION]\\n' + location + '\\n\\n' +\n  '[IMPORTANT OBJECT]\\n' + artifact + '. The object must be visible and active in the scene.\\n\\n' +\n  '[CHARACTERS]\\n' + (heroes || 'the named main characters from the story') + '\\n\\n' +\n  '[AGE AND ROLE RULE]\\nTreat each hero age group as mandatory. Children must read as children, adults as adults, teenagers as teenagers, seniors as seniors. Keep relative height/scale and maturity stable; do not swap ages between heroes.\\n\\n' +\n  '[LOOK]\\nIf STYLE is photorealistic or realistic, produce a photorealistic cinematic image based on the generated hero reference images, with realistic faces, natural skin texture, plausible lighting and lens depth. If STYLE is a materialized non-photo style (brick/clay/yarn/watercolor/cartoon), preserve the generated reference-image identity cues but render fully in that style.\\n\\n' +\n  '[COMPOSITION]\\nReadable silhouettes, clear focal hierarchy, foreground-midground-background separation, coherent anatomy, natural gestures, print-ready full-bleed square image for a 136 x 136 mm page. This is not a poster and not a designed book page: no typography anywhere. This image will sit on the RIGHT page of an open spread; keep faces, hands, the important object, and readable silhouettes away from the left 15% inner gutter/spine zone and away from the outer 3mm trim edge. Do not put essential content in corners that can be trimmed.';\nconst parts = [{ text: prompt }];\nif (hasReferenceCards) {\n  for (const card of referenceCards) {\n    parts.push({ inlineData: { mimeType: card.mimeType || 'image/png', data: card.contentBase64 } });\n  }\n}\nif (hasPortraitSheet && (!hasReferenceCards || needsPortraitSheetFallback)) {\n  parts.push({ inlineData: { mimeType: source.portraitSheet.mimeType || 'image/png', data: source.portraitSheet.contentBase64 } });\n}\nconst geminiImageRequest = { contents: [{ role: 'user', parts }], generationConfig: { responseModalities: ['IMAGE'], temperature: 0.42 } };\nreturn [{ json: { ...source, jobId, status: 'visuals_generating', visualBible, imagePrompt: prompt, imagePrompts: { chapter_1: prompt }, geminiImageModel: 'gemini-2.5-flash-image', geminiImageRequest } }];"
        }
      },
      {
        "id": "f8af5299-289b-492f-bb2c-041bc2720c9c",
        "name": "Generate Chapter 1 Image with Gemini",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2940,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/\" + $json.geminiImageModel + \":generateContent\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-goog-api-key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ $json.geminiImageRequest }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 180000
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "id": "0b75164a-b820-4b71-9a47-e88e6ced1c66",
        "name": "Normalize Chapter 1 Image",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3240,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const source = $('Build Chapter 1 Image Prompt').first().json;\nlet response = $input.first().json;\nlet part = (response.candidates?.[0]?.content?.parts || []).find((candidatePart) => candidatePart.inlineData?.data);\nlet responseText = (response.candidates?.[0]?.content?.parts || []).map((candidatePart) => candidatePart.text || '').join(' ').replace(/\\s+/g, ' ').trim();\n\nif (!part) {\n  const originalParts = source.geminiImageRequest?.contents?.[0]?.parts || [];\n  const imageParts = originalParts.filter((requestPart) => requestPart.inlineData?.data);\n  const retryText = [\n    'Generate an IMAGE only. Do not answer with text.',\n    'Create the first chapter book illustration now.',\n    'Absolutely no readable text inside the image: no chapter numbers, no chapter titles, no signs, no labels, no captions, no fake letters, no book-page typography, no posters, no banners, no UI. If the scene contains papers/books/signs, render them as abstract unreadable texture only.',\n    'Use the attached generated character reference sheet as identity canon if present.',\n    'Preserve the selected style exactly: ' + (source.visualBible?.style?.prompt || source.order?.illustrationStylePrompt || source.order?.illustrationStyle || 'storybook illustration') + '.',\n    'Scene: ' + (source.text?.preview?.summary || source.text?.chapters?.[0]?.summary || 'main characters in the opening scene') + '.',\n    'Location: ' + (source.order?.location || source.text?.bible?.location || '') + '.',\n    'Important object: ' + (source.order?.artifact || source.text?.bible?.artifact || '') + '.',\n    'Target final page: 136 x 136 mm square interior page, 1:1 aspect ratio, full bleed edge-to-edge. No letterboxing, no borders, no white margins, no blank paper background. Keep faces, hands and the important object away from the left 15% gutter/spine side and outer 3mm trim edge.',\n  ].filter(Boolean).join('\\n');\n  const retryRequest = {\n    contents: [{ role: 'user', parts: [{ text: retryText }, ...imageParts] }],\n    generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.25 },\n  };\n  try {\n    response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://generativelanguage.googleapis.com/v1beta/models/' + (source.geminiImageModel || 'gemini-2.5-flash-image') + ':generateContent',\n      headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n      body: retryRequest,\n      json: true,\n      timeout: 180000,\n    });\n    part = (response.candidates?.[0]?.content?.parts || []).find((candidatePart) => candidatePart.inlineData?.data);\n    responseText = (response.candidates?.[0]?.content?.parts || []).map((candidatePart) => candidatePart.text || '').join(' ').replace(/\\s+/g, ' ').trim();\n  } catch (retryError) {\n    responseText = retryError.message || responseText;\n  }\n}\n\nif (!part) {\n  const reason = responseText || response.promptFeedback?.blockReason || response.candidates?.[0]?.finishReason || 'Gemini did not return an inline image for chapter 1';\n  const message = 'Не удалось создать иллюстрацию первой главы: ' + reason;\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: 'https://fairyteller.ru/api/fairyteller/jobs/' + source.jobId,\n      headers: { Authorization: 'Bearer ' + $env.FAIRYTELLER_API_TOKEN, 'Content-Type': 'application/json' },\n      body: {\n        status: 'failed',\n        stage: 'visuals',\n        progress: 65,\n        message,\n        preview: { ...(source.text?.preview || {}), imageStatus: 'failed' },\n        error: { message },\n      },\n      json: true,\n    });\n  } catch (patchError) {}\n  throw new Error(message);\n}\nconst mimeType = part.inlineData.mimeType || 'image/png';\nconst ext = mimeType.includes('webp') ? 'webp' : mimeType.includes('jpeg') || mimeType.includes('jpg') ? 'jpg' : 'png';\nconst fileName = 'chapter-1.' + ext;\nconst imageUrl = '/api/fairyteller/jobs/' + source.jobId + '/files/' + fileName;\nconst absoluteImageUrl = 'https://fairyteller.ru' + imageUrl;\nconst image = { slot: 'chapter_1', status: 'ready', fileName, url: imageUrl, absoluteUrl: absoluteImageUrl, mimeType, bytes: Buffer.from(part.inlineData.data, 'base64').length, prompt: source.imagePrompt, provider: 'gemini', model: source.geminiImageModel || 'gemini-2.5-flash-image', targetPageSizeMm: [136, 136], targetAspectRatio: '1:1', role: 'interior_full_page_right_spread', referenceSheetUrl: source.portraitSheet?.url || null, characterReferenceCardUrls: (source.visualBible?.heroReferenceCards || []).map((card) => card.url).filter(Boolean), visualBibleVersion: source.visualBible?.version || 1 };\nconst preview = { ...(source.text?.preview || {}), imageStatus: 'ready', imageUrl, imageAbsoluteUrl: absoluteImageUrl };\nconst queuedSlots = ['cover', 'chapter_2', 'chapter_3', 'chapter_4', 'chapter_5'].map((slot) => ({\n  slot,\n  status: 'queued_stub',\n  outputPath: null,\n  referenceSheetUrl: source.portraitSheet?.url || null,\n  characterReferenceCardUrls: (source.visualBible?.heroReferenceCards || []).map((card) => card.url).filter(Boolean),\n  visualBibleVersion: source.visualBible?.version || 1,\n  requiredInputs: ['visualBible', (source.visualBible?.heroReferenceCards || []).length ? 'heroReferenceCards' : 'portraitSheet', slot === 'cover' ? 'coverBrief' : 'chapterText'],\n  consistencyRule: 'Reuse the same per-hero reference cards, portraitSheet fallback, and visualBible; do not regenerate character identity or adult/child/teen/senior age roles from scratch.',\n}));\nconst visuals = {\n  style: source.order?.illustrationStyle || 'disney',\n  visualBible: source.visualBible || null,\n  portraitSheet: source.portraitSheet ? { ...source.portraitSheet, contentBase64: undefined } : null,\n  heroReferenceCards: (source.heroReferenceCards || []).map(({ contentBase64, prompt, ...card }) => card),\n  portraits: (source.order?.heroes || []).map((hero) => {\n    const card = (source.heroReferenceCards || []).find((candidate) => Number(candidate.hero) === Number(hero.n));\n    return ({\n    hero: hero.n,\n    name: hero.name || '',\n    ageGroup: hero.ageGroup || 'unknown',\n    ageGroupSource: hero.ageGroupSource || 'not_detected',\n    status: card?.status === 'ready' ? 'reference_card_ready' : (source.portraitSheet?.status === 'ready' ? 'reference_sheet_ready' : (hero.photoField ? 'photo_detected_no_sheet' : 'no_photo')),\n    sourcePhotoField: hero.photoField || null,\n    referenceCardUrl: card?.url || null,\n    outputPath: card?.url || source.portraitSheet?.url || null,\n  });\n  }),\n  imagePrompts: source.imagePrompts || { chapter_1: source.imagePrompt },\n  imageJobs: [image, ...queuedSlots],\n};\nreturn [{ json: { ...source, status: 'visuals_ready', text: { ...(source.text || {}), preview }, visuals, chapterOneFile: { fileName, contentType: mimeType, contentBase64: part.inlineData.data }, pipeline: { next: 'fairyteller_render_publish' } } }];"
        }
      },
      {
        "id": "47cb3c9e-c9cb-4a74-98ff-5a1a612b51d7",
        "name": "Write Chapter 1 Image File",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3540,
          300
        ],
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId + \"/files/\" + $json.chapterOneFile.fileName }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { contentType: $json.chapterOneFile.contentType, contentBase64: $json.chapterOneFile.contentBase64 } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 60000
          }
        }
      },
      {
        "id": "192d2d91-89a3-499e-983a-a334801a3f42",
        "name": "Restore Visuals After File Write",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3840,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const payload = $('Normalize Chapter 1 Image').first().json;\ndelete payload.chapterOneFile.contentBase64;\nreturn [{ json: payload }];"
        }
      },
      {
        "id": "dac65acc-2aa1-4b8c-a23f-defd5ba765c7",
        "name": "Write Visuals Artifact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          4140,
          300
        ],
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId + \"/artifacts/visuals.json\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { jobId: $json.jobId, status: $json.status, visuals: $json.visuals } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "485cc7b2-c967-4377-aa87-697bef7b1ee5",
        "name": "Mark Visuals Ready",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          4440,
          300
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Restore Visuals After File Write\").item.json.jobId }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { status: \"visuals_ready\", stage: \"visuals\", progress: 75, message: \"Иллюстрация первой главы готова\", preview: $(\"Restore Visuals After File Write\").item.json.text.preview, visuals: $(\"Restore Visuals After File Write\").item.json.visuals } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "2036f57d-c1ab-40ed-b83b-47ee15196c26",
        "name": "Restore Visuals Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4740,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const payload = $('Restore Visuals After File Write').first().json;\nreturn [{ json: payload }];"
        }
      },
      {
        "id": "7c0d9200-fc64-4b55-b6d1-5af204dbe763",
        "name": "Start Render Publish Pipeline",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          5040,
          300
        ],
        "parameters": {
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "XAaFdi6hJjnQFiAQ",
            "mode": "list",
            "cachedResultName": "fairyteller_render_publish"
          },
          "mode": "once",
          "options": {
            "waitForSubWorkflow": false
          }
        }
      },
      {
        "id": "a4d0f4d1-6f6d-4c34-8a0d-portrait001",
        "name": "Build Hero Reference Sheet",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          540,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const item = $('Visuals Pipeline Input').first().json;\nconst input = $input.first();\nconst binary = input.binary || {};\nconst jobId = item.jobId || 'ft_' + Date.now();\nconst style = item.order?.illustrationStyle || 'disney';\nconst stylePrompt = item.order?.illustrationStylePrompt || 'photorealistic cinematic book character reference, natural skin, realistic face proportions, print-ready lighting';\nconst heroes = item.order?.heroes || [];\n\nfunction describeAgeGroup(hero) {\n  const group = hero.ageGroup || 'unknown';\n  const labels = {\n    child: 'Young school-age character: smaller relative scale, younger face and childlike proportions when the description or reference indicates it; no mature adult styling.',\n    teen: 'Teenage character: adolescent proportions, not a small child and not a mature grown-up.',\n    adult: 'Grown-up character: mature face/body proportions and adult role silhouette; not school-age.',\n    senior: 'Older grown-up character: mature proportions with age-appropriate face, hair and posture.',\n    unknown: 'Infer apparent age from the photo and written description; keep the same maturity and relative scale across images.',\n  };\n  return labels[group] || labels.unknown;\n}\n\nlet photoRefs = (item.photoRefs || item.order?._photoRefs || []).map((ref) => {\n  const hero = heroes.find((candidate) => Number(candidate.n) === Number(ref.hero)) || { n: ref.hero };\n  return { hero, key: ref.key, mimeType: ref.mimeType || hero.photoMime || 'image/jpeg', fileName: ref.fileName || hero.photoFileName || null, data: ref.data };\n}).filter((ref) => ref.data);\n\nif (photoRefs.length === 0) {\n  photoRefs = [];\n  for (const hero of heroes) {\n    const key = hero.photoField;\n    if (!key || !binary[key]) continue;\n    const buffer = await this.helpers.getBinaryDataBuffer(0, key);\n    photoRefs.push({ hero, key, mimeType: binary[key].mimeType || hero.photoMime || 'image/jpeg', fileName: binary[key].fileName || hero.photoFileName || null, data: buffer.toString('base64') });\n  }\n}\n\nconst heroReferenceInputs = heroes\n  .filter((hero) => hero.name || hero.description || hero.photoField || photoRefs.some((ref) => Number(ref.hero?.n || ref.hero) === Number(hero.n)))\n  .map((hero) => ({\n    hero: hero.n,\n    name: hero.name || '',\n    description: hero.description || '',\n    relation: hero.relation || '',\n    ageGroup: hero.ageGroup || 'unknown',\n    ageGroupSource: hero.ageGroupSource || 'not_detected',\n    hasPhoto: Boolean(hero.photoField || hero.hasPhoto || photoRefs.some((ref) => Number(ref.hero?.n || ref.hero) === Number(hero.n))),\n    ageRule: describeAgeGroup(hero),\n  }));\n\nreturn [{\n  json: {\n    ...item,\n    jobId,\n    status: 'visuals_generating',\n    privatePhotoRefs: photoRefs,\n    heroReferenceInputs,\n    portraitizer: {\n      status: 'queued_per_hero_reference_cards',\n      architecture: 'per_hero_reference_cards_v1',\n      style,\n      stylePrompt,\n      photoRefCount: photoRefs.length,\n      heroCount: heroes.length,\n      ageGroups: heroes.map((hero) => ({ hero: hero.n, name: hero.name || '', ageGroup: hero.ageGroup || 'unknown', source: hero.ageGroupSource || 'not_detected' })),\n    },\n    geminiPortraitModel: 'gemini-2.5-flash-image',\n  },\n}];"
        }
      },
      {
        "id": "a4d0f4d1-6f6d-4c34-8a0d-portrait002",
        "name": "Generate Hero Reference Sheet with Gemini",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const source = $('Restore Hero Reference Payload').first().json;\nconst request = source.geminiPortraitRequest;\nconst readyCards = (source.heroReferenceCards || []).filter((card) => card.status === 'ready');\n\nfunction skippedResponse(reason) {\n  return [{ json: { candidates: [{ content: { parts: [{ text: reason }] }, finishReason: 'STOP' }] } }];\n}\n\nif (!request) {\n  return skippedResponse('Combined hero reference sheet skipped: no Gemini request was prepared.');\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/' + (source.geminiPortraitModel || 'gemini-2.5-flash-image') + ':generateContent',\n    headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n    body: request,\n    json: true,\n    timeout: 180000,\n  });\n  return [{ json: response }];\n} catch (error) {\n  if (readyCards.length > 0) {\n    return skippedResponse('Combined hero reference sheet skipped because per-hero reference cards are ready. Gemini error: ' + (error.message || 'unknown error'));\n  }\n  throw error;\n}"
        }
      },
      {
        "id": "a4d0f4d1-6f6d-4c34-8a0d-portrait003",
        "name": "Normalize Hero Reference Sheet",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1740,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const source = $('Restore Hero Reference Payload').first().json;\nlet response = $input.first().json;\nlet part = (response.candidates?.[0]?.content?.parts || []).find((candidatePart) => candidatePart.inlineData?.data);\nconst photoRefCount = source.portraitizer?.photoRefCount || 0;\nconst readyHeroCards = (source.heroReferenceCards || []).filter((card) => card.status === 'ready');\nconst fallbackHeroCards = (source.heroReferenceCards || []).filter((card) => card.status === 'source_photo_fallback');\nlet responseText = (response.candidates?.[0]?.content?.parts || []).map((candidatePart) => candidatePart.text || '').join(' ').replace(/\\s+/g, ' ').trim();\n\nif (!part && (readyHeroCards.length === 0 || fallbackHeroCards.length > 0) && photoRefCount > 0) {\n  const originalParts = source.geminiPortraitRequest?.contents?.[0]?.parts || [];\n  const imageParts = originalParts.filter((requestPart) => requestPart.inlineData?.data);\n  const retryText = 'Generate an IMAGE only. Create a clean canonical combined character reference sheet for the listed personalized book heroes. Preserve hero identity, mandatory adult/child/teen/senior age roles, relative scale, hair, glasses/accessories and outfit cues. Use the selected style: ' + (source.order?.illustrationStylePrompt || source.order?.illustrationStyle || 'photorealistic book character') + '. No text, no labels, no logos, no watermark.';\n  const retryRequest = {\n    contents: [{ role: 'user', parts: [{ text: retryText }, ...imageParts] }],\n    generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.1 },\n  };\n  try {\n    response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://generativelanguage.googleapis.com/v1beta/models/' + (source.geminiPortraitModel || 'gemini-2.5-flash-image') + ':generateContent',\n      headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n      body: retryRequest,\n      json: true,\n      timeout: 180000,\n    });\n    part = (response.candidates?.[0]?.content?.parts || []).find((candidatePart) => candidatePart.inlineData?.data);\n    responseText = (response.candidates?.[0]?.content?.parts || []).map((candidatePart) => candidatePart.text || '').join(' ').replace(/\\s+/g, ' ').trim();\n  } catch (retryError) {\n    responseText = retryError.message || responseText;\n  }\n}\n\nconst fallbackReason = responseText || response.promptFeedback?.blockReason || response.candidates?.[0]?.finishReason || 'Gemini did not return an inline image for the combined hero reference sheet';\nif (!part && photoRefCount > 0 && (readyHeroCards.length === 0 || fallbackHeroCards.length > 0)) {\n  const message = 'Не удалось создать визуальный референс героя по фото: ' + fallbackReason;\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: 'https://fairyteller.ru/api/fairyteller/jobs/' + source.jobId,\n      headers: { Authorization: 'Bearer ' + $env.FAIRYTELLER_API_TOKEN, 'Content-Type': 'application/json' },\n      body: { status: 'failed', stage: 'visuals', progress: 55, message, error: { message } },\n      json: true,\n    });\n  } catch (patchError) {}\n  throw new Error(message);\n}\nconst transparentPngBase64 = 'iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+/p9sAAAAASUVORK5CYII=';\nif (!part) {\n  const mimeType = 'image/png';\n  const fileName = readyHeroCards.length ? 'hero-reference-sheet-from-cards-skipped.png' : 'hero-reference-sheet-skipped.png';\n  const url = '/api/fairyteller/jobs/' + source.jobId + '/files/' + fileName;\n  const portraitSheet = {\n    status: readyHeroCards.length ? 'skipped_cards_ready' : 'skipped',\n    reason: fallbackReason,\n    fileName,\n    url,\n    absoluteUrl: 'https://fairyteller.ru' + url,\n    mimeType,\n    bytes: Buffer.from(transparentPngBase64, 'base64').length,\n    provider: 'gemini',\n    model: source.geminiPortraitModel || 'gemini-2.5-flash-image',\n    style: source.order?.illustrationStyle || 'disney',\n    photoRefCount,\n    heroCount: source.portraitizer?.heroCount || 0,\n    heroReferenceCardCount: readyHeroCards.length,\n    contentBase64: transparentPngBase64,\n  };\n  return [{ json: { ...source, portraitizer: { ...(source.portraitizer || {}), status: readyHeroCards.length ? 'hero_reference_cards_ready_combined_skipped' : 'skipped', reason: portraitSheet.reason }, portraitSheet } }];\n}\nconst mimeType = part.inlineData.mimeType || 'image/png';\nconst ext = mimeType.includes('webp') ? 'webp' : mimeType.includes('jpeg') || mimeType.includes('jpg') ? 'jpg' : 'png';\nconst fileName = 'hero-reference-sheet.' + ext;\nconst url = '/api/fairyteller/jobs/' + source.jobId + '/files/' + fileName;\nconst absoluteUrl = 'https://fairyteller.ru' + url;\nconst portraitSheet = {\n  status: 'ready',\n  fileName,\n  url,\n  absoluteUrl,\n  mimeType,\n  bytes: Buffer.from(part.inlineData.data, 'base64').length,\n  provider: 'gemini',\n  model: source.geminiPortraitModel || 'gemini-2.5-flash-image',\n  style: source.order?.illustrationStyle || 'disney',\n  photoRefCount,\n  heroCount: source.portraitizer?.heroCount || 0,\n  heroReferenceCardCount: readyHeroCards.length,\n  contentBase64: part.inlineData.data,\n};\nreturn [{ json: { ...source, portraitizer: { ...(source.portraitizer || {}), status: readyHeroCards.length ? 'hero_reference_cards_and_sheet_ready' : 'ready' }, portraitSheet } }];"
        }
      },
      {
        "id": "a4d0f4d1-6f6d-4c34-8a0d-portrait004",
        "name": "Write Hero Reference Sheet File",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2040,
          300
        ],
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId + \"/files/\" + $json.portraitSheet.fileName }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { contentType: $json.portraitSheet.mimeType, contentBase64: $json.portraitSheet.contentBase64 } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 60000
          }
        }
      },
      {
        "id": "a4d0f4d1-6f6d-4c34-8a0d-portrait005",
        "name": "Restore Portrait Sheet Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2340,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const payload = $('Normalize Hero Reference Sheet').first().json;\nreturn [{ json: payload }];"
        }
      },
      {
        "id": "a4d0f4d1-6f6d-4c34-8a0d-portrait006",
        "name": "Restore Hero Reference Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1140,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const source = $('Build Hero Reference Sheet').first().json;\nconst jobId = source.jobId;\nconst heroes = source.order?.heroes || [];\nconst style = source.order?.illustrationStyle || source.portraitizer?.style || 'disney';\nconst stylePrompt = source.order?.illustrationStylePrompt || source.portraitizer?.stylePrompt || 'photorealistic cinematic book character reference, natural skin, realistic face proportions, print-ready lighting';\nconst photoRefs = source.privatePhotoRefs || [];\nconst model = source.geminiPortraitModel || 'gemini-2.5-flash-image';\n\nfunction cleanText(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\nfunction describeAgeGroup(hero) {\n  const group = hero.ageGroup || 'unknown';\n  const labels = {\n    child: 'Young school-age character: smaller relative scale, younger face and childlike proportions when the description or reference indicates it; no mature adult styling.',\n    teen: 'Teenage character: adolescent proportions, not a small child and not a mature grown-up.',\n    adult: 'Grown-up character: mature face/body proportions and adult role silhouette; not school-age.',\n    senior: 'Older grown-up character: mature proportions with age-appropriate face, hair and posture.',\n    unknown: 'Infer apparent age from the photo and written description; keep the same maturity and relative scale across images.',\n  };\n  return labels[group] || labels.unknown;\n}\nfunction heroLabel(hero) {\n  return hero.name || ('Hero ' + (hero.n || hero.hero || ''));\n}\nfunction findPhotoRef(hero) {\n  return photoRefs.find((ref) => Number(ref.hero?.n || ref.hero) === Number(hero.n));\n}\nfunction findInlineImage(response) {\n  return (response.candidates?.[0]?.content?.parts || []).find((part) => part.inlineData?.data);\n}\nfunction responseText(response) {\n  return (response.candidates?.[0]?.content?.parts || []).map((part) => part.text || '').join(' ').replace(/\\s+/g, ' ').trim();\n}\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\nfunction isRetryableGeminiError(error) {\n  const status = Number(error?.response?.status || error?.statusCode || error?.status || 0);\n  const message = String(error?.message || '');\n  return status === 0 || status === 408 || status === 409 || status === 425 || status === 429 || status >= 500 || /timeout|ECONNRESET|ETIMEDOUT|socket|network/i.test(message);\n}\nasync function geminiImageRequestWithRetry(request, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 3; attempt += 1) {\n    try {\n      return await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://generativelanguage.googleapis.com/v1beta/models/' + model + ':generateContent',\n        headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n        body: request,\n        json: true,\n        timeout: 180000,\n      });\n    } catch (error) {\n      lastError = error;\n      if (!isRetryableGeminiError(error) || attempt === 3) break;\n      await sleep(5000 * attempt);\n    }\n  }\n  throw new Error('Gemini image request failed for ' + label + ': ' + (lastError?.message || 'unknown error'));\n}\nasync function apiRequest(options) {\n  return await this.helpers.httpRequest({\n    ...options,\n    headers: {\n      Authorization: 'Bearer ' + $env.FAIRYTELLER_API_TOKEN,\n      ...(options.headers || {}),\n    },\n    json: true,\n  });\n}\nasync function patchJob(body) {\n  return await apiRequest.call(this, {\n    method: 'PATCH',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId,\n    headers: { 'Content-Type': 'application/json' },\n    body,\n    timeout: 30000,\n  });\n}\nasync function writeJobFile(fileName, contentType, contentBase64) {\n  await apiRequest.call(this, {\n    method: 'PUT',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId + '/files/' + fileName,\n    headers: { 'Content-Type': 'application/json' },\n    body: { contentType, contentBase64 },\n    timeout: 60000,\n  });\n}\nasync function mapLimit(items, limit, worker) {\n  const results = new Array(items.length);\n  let cursor = 0;\n  const workers = Array.from({ length: Math.min(limit, items.length) }, async () => {\n    while (cursor < items.length) {\n      const index = cursor;\n      cursor += 1;\n      results[index] = await worker(items[index], index);\n    }\n  });\n  await Promise.all(workers);\n  return results;\n}\nfunction buildHeroCardPrompt(hero, hasPhoto) {\n  return [\n    'Generate an IMAGE only. Do not answer with text.',\n    'Create one standalone canonical reference card for exactly one personalized book hero. This card will be reused as identity canon for every later illustration.',\n    hasPhoto ? 'Use the attached private reference photo only for THIS HERO. Transform it into a fictional storybook character design in the selected style; this is not an ID photo or exact photo reproduction. Do not borrow traits from other heroes.' : 'No user photo is attached for this hero; create a stable fictional design from the written description only.',\n    'Hero slot: Hero ' + hero.n + '. Hero name: ' + heroLabel(hero) + '.',\n    'Apparent age and role scale: ' + describeAgeGroup(hero),\n    'Description: ' + (cleanText(hero.description) || 'not provided'),\n    'Role/relation: ' + (cleanText(hero.relation) || 'not provided'),\n    '',\n    '[STYLE - highest priority]',\n    stylePrompt,\n    '',\n    '[IDENTITY RULES]',\n    'Preserve stable visual continuity cues useful for illustration: face outline, eyes and eyebrows, nose-to-lips balance, hair color and length, complexion, beard/stubble if present, glasses/accessories, outfit cues and overall silhouette.',\n    'Keep this hero\\'s apparent maturity, role scale and proportions consistent. Do not average this hero with any other hero.',\n    '',\n    '[CARD COMPOSITION]',\n    'One character only, waist-up or 3/4-body, neutral readable pose, clean simple background, no text, no labels, no logo, no watermark, no frame, no speech bubbles, no book-page layout.',\n  ].join('\\n');\n}\nasync function generateHeroCard(hero) {\n  const photoRef = findPhotoRef(hero);\n  const hasPhoto = Boolean(photoRef?.data);\n  const prompt = buildHeroCardPrompt(hero, hasPhoto);\n  const parts = [{ text: prompt }];\n  if (hasPhoto) parts.push({ inlineData: { mimeType: photoRef.mimeType || 'image/jpeg', data: photoRef.data } });\n  let response;\n  let part;\n  let reason = '';\n  try {\n    response = await geminiImageRequestWithRetry.call(this, {\n      contents: [{ role: 'user', parts }],\n      generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: hasPhoto ? 0.16 : 0.28 },\n    }, 'hero ' + hero.n + ' reference card');\n    part = findInlineImage(response);\n    reason = responseText(response);\n  } catch (error) {\n    reason = error.message || 'unknown error';\n  }\n  if (!part && hasPhoto) {\n    try {\n      response = await geminiImageRequestWithRetry.call(this, {\n        contents: [{ role: 'user', parts: [{ text: 'Generate an IMAGE only. Create a clean character reference portrait for Hero ' + hero.n + ' (' + heroLabel(hero) + ') from the attached photo. Preserve likeness and mandatory age group ' + (hero.ageGroup || 'unknown') + '. Style: ' + stylePrompt + '. One character only, no text, no labels, clean background.' }, { inlineData: { mimeType: photoRef.mimeType || 'image/jpeg', data: photoRef.data } }] }],\n        generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.08 },\n      }, 'hero ' + hero.n + ' reference card retry');\n      part = findInlineImage(response);\n      reason = responseText(response) || reason;\n    } catch (error) {\n      reason = error.message || reason;\n    }\n  }\n  if (!part && hasPhoto) {\n    try {\n      const safePrompt = [\n        'Generate an IMAGE only.',\n        'Create a fictional illustrated character reference portrait inspired by the attached private reference photo for Hero ' + hero.n + ' (' + heroLabel(hero) + ').',\n        'Do not create a photorealistic ID copy. Convert the person into the selected storybook style while keeping stable high-level visual cues: face outline, hairstyle, complexion, glasses/accessories, beard/stubble if present, outfit cues, apparent maturity and role scale.',\n        'One character only, neutral pose, clean background, no text, no labels, no watermark.',\n        'Style: ' + stylePrompt,\n      ].join(' ');\n      response = await geminiImageRequestWithRetry.call(this, {\n        contents: [{ role: 'user', parts: [{ text: safePrompt }, { inlineData: { mimeType: photoRef.mimeType || 'image/jpeg', data: photoRef.data } }] }],\n        generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.05 },\n      }, 'hero ' + hero.n + ' safe reference card retry');\n      part = findInlineImage(response);\n      reason = responseText(response) || response.promptFeedback?.blockReason || response.candidates?.[0]?.finishReason || reason;\n    } catch (error) {\n      reason = error.message || reason;\n    }\n  }\n  if (!part) {\n    const card = {\n      hero: hero.n,\n      name: hero.name || '',\n      ageGroup: hero.ageGroup || 'unknown',\n      ageGroupSource: hero.ageGroupSource || 'not_detected',\n      status: hasPhoto ? 'source_photo_fallback' : 'skipped',\n      required: false,\n      reason: reason || response?.promptFeedback?.blockReason || response?.candidates?.[0]?.finishReason || 'Gemini did not return an inline image for this hero reference card',\n      hasSourcePhoto: hasPhoto,\n      fallback: hasPhoto ? 'private_source_photo_for_combined_sheet' : null,\n      provider: 'gemini',\n      model,\n    };\n    return card;\n  }\n  const mimeType = part.inlineData.mimeType || 'image/png';\n  const ext = mimeType.includes('webp') ? 'webp' : mimeType.includes('jpeg') || mimeType.includes('jpg') ? 'jpg' : 'png';\n  const fileName = 'hero-' + hero.n + '-reference.' + ext;\n  await writeJobFile.call(this, fileName, mimeType, part.inlineData.data);\n  const url = '/api/fairyteller/jobs/' + jobId + '/files/' + fileName;\n  return {\n    hero: hero.n,\n    name: hero.name || '',\n    ageGroup: hero.ageGroup || 'unknown',\n    ageGroupSource: hero.ageGroupSource || 'not_detected',\n    status: 'ready',\n    fileName,\n    url,\n    absoluteUrl: 'https://fairyteller.ru' + url,\n    mimeType,\n    bytes: Buffer.from(part.inlineData.data, 'base64').length,\n    hasSourcePhoto: hasPhoto,\n    provider: 'gemini',\n    model,\n    prompt,\n    contentBase64: part.inlineData.data,\n  };\n}\n\nconst heroTargets = heroes.filter((hero) => hero.name || hero.description || hero.photoField || hero.hasPhoto || findPhotoRef(hero));\nlet heroReferenceCards = [];\nif (heroTargets.length) {\n  await patchJob.call(this, {\n    artifacts: { heroReferences: { status: 'generating', requestedAt: new Date().toISOString(), total: heroTargets.length, completed: 0 } },\n  });\n  let completedHeroCards = 0;\n  heroReferenceCards = await mapLimit(heroTargets, 2, async (hero) => {\n    const card = await generateHeroCard.call(this, hero);\n    completedHeroCards += 1;\n    await patchJob.call(this, {\n      artifacts: { heroReferences: { status: 'generating', total: heroTargets.length, completed: completedHeroCards } },\n    });\n    return card;\n  });\n}\n\nconst readyCards = heroReferenceCards.filter((card) => card.status === 'ready' && card.contentBase64);\nconst fallbackPhotoRefs = heroReferenceCards\n  .filter((card) => card.status === 'source_photo_fallback')\n  .map((card) => {\n    const hero = heroes.find((candidate) => Number(candidate.n) === Number(card.hero)) || { n: card.hero, name: card.name || '', ageGroup: card.ageGroup || 'unknown', ageGroupSource: card.ageGroupSource || 'not_detected' };\n    const photoRef = findPhotoRef(hero);\n    return photoRef?.data ? { ...photoRef, hero, card } : null;\n  })\n  .filter(Boolean);\nconst heroDescriptions = heroes.map((hero) => 'Hero ' + hero.n + ': ' + (hero.name || 'unnamed') + '; age group: ' + (hero.ageGroup || 'unknown') + ' (' + (hero.ageGroupSource || 'not_detected') + '); age/proportion rule: ' + describeAgeGroup(hero) + '; description: ' + (hero.description || 'no description') + '; role/relation: ' + (hero.relation || 'not set') + '; individual reference card: ' + (readyCards.some((card) => Number(card.hero) === Number(hero.n)) ? 'yes' : 'no') + '; private source photo fallback: ' + (fallbackPhotoRefs.some((ref) => Number(ref.hero?.n || ref.hero) === Number(hero.n)) ? 'yes' : 'no')).join('\\n');\nconst cardMap = readyCards.map((card, index) => 'Attached reference card ' + (index + 1) + ' = Hero ' + card.hero + ' (' + (card.name || 'unnamed') + '), age group ' + (card.ageGroup || 'unknown')).join('\\n');\nconst sourcePhotoMap = fallbackPhotoRefs.map((ref, index) => 'Attached private source photo fallback ' + (index + 1) + ' = Hero ' + (ref.hero?.n || ref.hero) + ' (' + (ref.hero?.name || 'unnamed') + '), use only to create the combined illustrated reference sheet').join('\\n');\nconst prompt = [\n  'Generate an IMAGE, not a text answer. Create one combined character reference sheet for the whole personalized book.',\n  readyCards.length ? 'Use the attached individual hero reference cards as the strongest identity canon for those heroes. Do not remix, merge, swap, or average heroes.' : 'No individual reference cards are attached; use written hero descriptions as the design source.',\n  fallbackPhotoRefs.length ? 'For heroes without a generated individual card, use the attached private source photo fallback only inside this combined illustrated reference sheet. Transform into the selected storybook style; do not create photorealistic ID copies and do not mix traits between heroes.' : '',\n  cardMap ? '[REFERENCE CARD MAPPING]\\n' + cardMap : '',\n  sourcePhotoMap ? '[PRIVATE SOURCE PHOTO FALLBACK MAPPING]\\n' + sourcePhotoMap : '',\n  'Arrange every listed hero clearly left to right in hero order, equal panel size and equal visual priority, full-body or 3/4-body, neutral readable pose, clean background, no text, no labels, no logos, no watermarks.',\n  'Preserve each hero apparent maturity and relative scale from the hero metadata/reference material.',\n  '',\n  '[STYLE]',\n  stylePrompt,\n  '',\n  '[HEROES]',\n  heroDescriptions || 'No heroes provided; create neutral main characters from the story descriptions.',\n].filter(Boolean).join('\\n');\nconst requestParts = [{ text: prompt }];\nfor (const card of readyCards) {\n  requestParts.push({ inlineData: { mimeType: card.mimeType || 'image/png', data: card.contentBase64 } });\n}\nfor (const ref of fallbackPhotoRefs) {\n  requestParts.push({ inlineData: { mimeType: ref.mimeType || 'image/jpeg', data: ref.data } });\n}\nconst geminiPortraitRequest = { contents: [{ role: 'user', parts: requestParts }], generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: fallbackPhotoRefs.length ? 0.12 : 0.18 } };\nconst fallbackCards = heroReferenceCards.filter((card) => card.status === 'source_photo_fallback');\nconst skippedCards = heroReferenceCards.filter((card) => card.status === 'skipped');\nconst heroReferenceStatus = fallbackCards.length ? 'partial_ready_source_photo_fallback' : 'ready';\n\nawait patchJob.call(this, {\n  artifacts: {\n    heroReferences: {\n      status: heroReferenceStatus,\n      completedAt: new Date().toISOString(),\n      total: heroTargets.length,\n      ready: readyCards.length,\n      fallback: fallbackCards.length,\n      skipped: skippedCards.length,\n      cards: heroReferenceCards.map(({ contentBase64, prompt, ...card }) => card),\n    },\n  },\n});\n\nreturn [{\n  json: {\n    ...source,\n    privatePhotoRefs: undefined,\n    heroReferenceCards,\n    portraitizer: {\n      ...(source.portraitizer || {}),\n      status: fallbackCards.length ? 'partial_reference_cards_source_photo_fallback' : (readyCards.length ? 'hero_reference_cards_ready' : 'generating_combined_reference_sheet'),\n      architecture: 'per_hero_reference_cards_v1',\n      heroReferenceCardCount: readyCards.length,\n      sourcePhotoFallbackCount: fallbackCards.length,\n      cards: heroReferenceCards.map(({ contentBase64, prompt, ...card }) => card),\n    },\n    geminiPortraitRequest,\n  },\n}];"
        }
      }
    ],
    "connections": {
      "Visuals Pipeline Input": {
        "main": [
          [
            {
              "node": "Build Hero Reference Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Hero Reference Sheet": {
        "main": [
          [
            {
              "node": "Mark Visuals Generating",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Visuals Generating": {
        "main": [
          [
            {
              "node": "Restore Hero Reference Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore Hero Reference Payload": {
        "main": [
          [
            {
              "node": "Generate Hero Reference Sheet with Gemini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Hero Reference Sheet with Gemini": {
        "main": [
          [
            {
              "node": "Normalize Hero Reference Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Hero Reference Sheet": {
        "main": [
          [
            {
              "node": "Write Hero Reference Sheet File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Hero Reference Sheet File": {
        "main": [
          [
            {
              "node": "Restore Portrait Sheet Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore Portrait Sheet Payload": {
        "main": [
          [
            {
              "node": "Build Chapter 1 Image Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Chapter 1 Image Prompt": {
        "main": [
          [
            {
              "node": "Generate Chapter 1 Image with Gemini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Chapter 1 Image with Gemini": {
        "main": [
          [
            {
              "node": "Normalize Chapter 1 Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Chapter 1 Image": {
        "main": [
          [
            {
              "node": "Write Chapter 1 Image File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Chapter 1 Image File": {
        "main": [
          [
            {
              "node": "Restore Visuals After File Write",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore Visuals After File Write": {
        "main": [
          [
            {
              "node": "Write Visuals Artifact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Visuals Artifact": {
        "main": [
          [
            {
              "node": "Mark Visuals Ready",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Visuals Ready": {
        "main": [
          [
            {
              "node": "Restore Visuals Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore Visuals Payload": {
        "main": [
          [
            {
              "node": "Start Render Publish Pipeline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true
    },
    "staticData": null,
    "meta": {
      "aiBuilderAssisted": true
    },
    "pinData": {},
    "versionId": "b6f37da6-3e68-42e1-a430-f046717aa483",
    "activeVersionId": "b6f37da6-3e68-42e1-a430-f046717aa483",
    "versionCounter": 30,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-05-23T04:37:02.473Z",
        "createdAt": "2026-05-23T04:37:02.473Z",
        "role": "workflow:owner",
        "workflowId": "RXzoJ7Bdlr2y3l60",
        "projectId": "yjU1WlmpOKrWZ5oA",
        "project": {
          "updatedAt": "2026-04-01T13:13:29.434Z",
          "createdAt": "2026-04-01T12:58:08.424Z",
          "id": "yjU1WlmpOKrWZ5oA",
          "name": "Nikita Such <aukenbro1@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ad3f1947-a4d2-4d9f-9812-8101e2da0e99"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
