n8n/workflows/fairyteller_cover.workflow.json
[
  {
    "createdAt": "2026-05-23T14:21:29.881Z",
    "updatedAt": "2026-05-23T15:09:58.554Z",
    "id": "FVCover20260523",
    "name": "fairyteller_cover",
    "description": "Generates the wraparound cover background using full text, visual bible, and portrait sheet.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "15930c16-8ff7-491b-b5c6-5c465638637d",
        "name": "Cover Pipeline Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\"jobId\":\"ft_example\",\"order\":{},\"text\":{\"chapters\":[]}}"
        }
      },
      {
        "id": "94acc34b-768d-4596-a94f-ddd58706bc6a",
        "name": "Generate Cover",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          540,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const source = $input.first().json;\nconst jobId = source.jobId;\nif (!jobId) throw new Error('Missing jobId for cover generation');\nconst order = source.order || {};\nconst text = source.text || {};\n\nasync function apiRequest(options) {\n  return await this.helpers.httpRequest({\n    ...options,\n    headers: {\n      Authorization: 'Bearer ' + $env.FAIRYTELLER_API_TOKEN,\n      ...(options.headers || {}),\n    },\n    json: true,\n  });\n}\n\nasync function patchJob(body) {\n  return await apiRequest.call(this, {\n    method: 'PATCH',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId,\n    headers: { 'Content-Type': 'application/json' },\n    body,\n    timeout: 30000,\n  });\n}\n\nasync function fetchJsonArtifact(fileName) {\n  return await apiRequest.call(this, {\n    method: 'GET',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId + '/artifacts/' + fileName,\n    timeout: 30000,\n  });\n}\n\nasync function fetchImageBase64(url) {\n  if (!url) return null;\n  const absoluteUrl = url.startsWith('http') ? url : 'https://fairyteller.ru' + url;\n  const separator = absoluteUrl.includes('?') ? '&' : '?';\n  const payload = await apiRequest.call(this, {\n    method: 'GET',\n    url: absoluteUrl + separator + 'base64=1',\n    timeout: 30000,\n  });\n  if (!payload?.contentBase64) throw new Error('Fetched reference image has no base64 content');\n  return { mimeType: payload.contentType || 'image/png', data: payload.contentBase64, bytes: payload.bytes || Buffer.from(payload.contentBase64, 'base64').length };\n}\n\nfunction cleanText(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction storySummary(fullText) {\n  const chapters = fullText?.text?.chapters || text.chapters || [];\n  return chapters.map((chapter) => 'Глава ' + chapter.n + ': ' + (chapter.title || '') + '. ' + (chapter.summary || cleanText(chapter.text || (chapter.textBlocks || []).join(' ')).slice(0, 500))).join('\\n');\n}\n\nfunction coverPrompt({ visualBible, fullText, portraitSheetReady }) {\n  const bible = fullText?.text?.bible || text.bible || {};\n  const stylePrompt = visualBible?.style?.prompt || order.illustrationStylePrompt || order.illustrationStyle || 'photorealistic cinematic book illustration, realistic people, natural light, print-ready composition';\n  const world = visualBible?.world || {};\n  const characters = (visualBible?.characters || order.heroes || []).map((hero) => {\n    if (hero.name || hero.description || hero.relation) {\n      return [hero.name || ('Hero ' + (hero.hero || hero.n || '')), hero.description, hero.relation].filter(Boolean).join(': ');\n    }\n    return '';\n  }).filter(Boolean).join('\\n');\n  const title = bible.bookTitle || fullText?.text?.preview?.title || text.preview?.title || '';\n  const subtitle = bible.subtitle || '';\n  const coverSummary = bible.coverSummary || fullText?.text?.preview?.summary || text.preview?.summary || '';\n  const referenceInstruction = portraitSheetReady\n    ? 'Use the attached generated character reference sheet as mandatory identity canon for all heroes on the cover. Preserve the same faces, age impression, hair, outfits/accessories and silhouettes.'\n    : 'No reference sheet is attached; preserve identity from written descriptions.';\n  return [\n    'Generate an IMAGE only. Do not answer with text.',\n    'Create one wide wraparound book cover background illustration for a printed square children book.',\n    'Target print spread: 268.5 x 136 mm, approximately 2:1 horizontal aspect ratio. The right half is the front cover, the left half is the back cover, a narrow spine area sits in the center. Keep important faces and key objects away from the exact center/spine.',\n    'Do not include any readable text, title, letters, logo, UI, captions or watermark. Text will be added later in PDF layout.',\n    '',\n    '[STYLE - highest priority]',\n    stylePrompt,\n    '',\n    '[CHARACTER IDENTITY]',\n    referenceInstruction,\n    '',\n    '[FRONT COVER COMPOSITION]',\n    'Right half: one strong iconic scene with the main heroes and the important object. It should feel like the promise of the whole story, not a random chapter still. Leave calm negative space in the upper third for a title overlay later, but do not draw text.',\n    '',\n    '[BACK COVER COMPOSITION]',\n    'Left half: atmospheric continuation of the world with softer details, motifs, path/landscape/interior elements, and enough calm space for back-cover text overlay later. Do not mirror the front; make it a quieter continuation.',\n    '',\n    '[WORLD]',\n    'World: ' + (world.title || bible.worldTitle || order.world || ''),\n    'World visual language: ' + (world.visual || bible.worldVisual || ''),\n    'World motifs: ' + (world.motifs || bible.worldMotifs || ''),\n    'World tension: ' + (world.conflict || bible.worldConflict || ''),\n    'Location: ' + (world.location || order.location || bible.location || ''),\n    'Important object: ' + (world.artifact || order.artifact || bible.artifact || ''),\n    '',\n    '[BOOK]',\n    'Title for context only, do not render it: ' + title,\n    'Subtitle for context only, do not render it: ' + subtitle,\n    'Cover summary: ' + coverSummary,\n    '',\n    '[CHARACTERS]',\n    characters || 'Use the main heroes from the story.',\n    '',\n    '[WHOLE STORY CONTEXT]',\n    storySummary(fullText).slice(0, 3200),\n    '',\n    '[QUALITY]',\n    'Full-bleed, print-ready, coherent anatomy, readable silhouettes, stable style, rich but not cluttered, no text artifacts, no fake letters, no border.',\n  ].join('\\n');\n}\n\nfunction findInlineImage(response) {\n  return (response.candidates?.[0]?.content?.parts || []).find((part) => part.inlineData?.data);\n}\nfunction responseText(response) {\n  return (response.candidates?.[0]?.content?.parts || []).map((part) => part.text || '').join(' ').replace(/\\s+/g, ' ').trim();\n}\n\nawait patchJob.call(this, {\n  artifacts: { cover: { status: 'generating', requestedAt: new Date().toISOString(), targetPageSizeMm: [268.5, 136] } },\n});\n\ntry {\n  const fullText = await fetchJsonArtifact.call(this, 'full-text.json');\n  const visualsArtifact = await fetchJsonArtifact.call(this, 'visuals.json');\n  const visuals = visualsArtifact.visuals || {};\n  const visualBible = visuals.visualBible || {};\n  let portraitSheetImage = null;\n  if (visuals.portraitSheet?.status === 'ready' && visuals.portraitSheet?.url) {\n    portraitSheetImage = await fetchImageBase64.call(this, visuals.portraitSheet.url);\n  }\n  const prompt = coverPrompt({ visualBible, fullText, portraitSheetReady: Boolean(portraitSheetImage?.data) });\n  const requestParts = [{ text: prompt }];\n  if (portraitSheetImage?.data) {\n    requestParts.push({ inlineData: { mimeType: portraitSheetImage.mimeType || 'image/png', data: portraitSheetImage.data } });\n  }\n  const request = {\n    contents: [{ role: 'user', parts: requestParts }],\n    generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.35 },\n  };\n  let response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent',\n    headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n    body: request,\n    json: true,\n    timeout: 180000,\n  });\n  let part = findInlineImage(response);\n  let reason = responseText(response);\n  if (!part) {\n    const retryPrompt = [\n      'Generate an IMAGE only. Wide wraparound book cover background, 2:1 horizontal aspect ratio.',\n      'No text, no letters, no captions, no logos, no watermark.',\n      'Use attached character reference sheet as identity canon if present.',\n      'Right half front cover: heroes and important object. Left half back cover: quieter world atmosphere. Center is spine; keep faces away from center.',\n      'Style: ' + (visualBible?.style?.prompt || order.illustrationStylePrompt || order.illustrationStyle || 'book cover illustration'),\n      'Story: ' + (fullText?.text?.bible?.coverSummary || text?.bible?.coverSummary || text?.preview?.summary || ''),\n    ].join('\\n');\n    response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent',\n      headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n      body: { contents: [{ role: 'user', parts: [{ text: retryPrompt }, ...(portraitSheetImage?.data ? [{ inlineData: { mimeType: portraitSheetImage.mimeType || 'image/png', data: portraitSheetImage.data } }] : [])] }], generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.2 } },\n      json: true,\n      timeout: 180000,\n    });\n    part = findInlineImage(response);\n    reason = responseText(response) || reason;\n  }\n  if (!part) {\n    throw new Error('Gemini did not return an inline image for cover: ' + (reason || response.promptFeedback?.blockReason || response.candidates?.[0]?.finishReason || 'unknown reason'));\n  }\n  const mimeType = part.inlineData.mimeType || 'image/png';\n  const ext = mimeType.includes('webp') ? 'webp' : mimeType.includes('jpeg') || mimeType.includes('jpg') ? 'jpg' : 'png';\n  const fileName = 'cover-spread.' + ext;\n  await apiRequest.call(this, {\n    method: 'PUT',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId + '/files/' + fileName,\n    headers: { 'Content-Type': 'application/json' },\n    body: { contentType: mimeType, contentBase64: part.inlineData.data },\n    timeout: 60000,\n  });\n  const url = '/api/fairyteller/jobs/' + jobId + '/files/' + fileName;\n  const cover = {\n    slot: 'cover',\n    status: 'ready',\n    fileName,\n    url,\n    absoluteUrl: 'https://fairyteller.ru' + url,\n    mimeType,\n    bytes: Buffer.from(part.inlineData.data, 'base64').length,\n    prompt,\n    provider: 'gemini',\n    model: 'gemini-2.5-flash-image',\n    targetPageSizeMm: [268.5, 136],\n    role: 'wraparound_background_no_text',\n    referenceSheetUrl: visualBible?.portraitSheetUrl || null,\n    visualBibleVersion: visualBible?.version || 1,\n  };\n  const previousJobs = Array.isArray(visuals.imageJobs) ? visuals.imageJobs : [];\n  const imageJobs = [cover, ...previousJobs.filter((image) => image.slot !== 'cover')]\n    .sort((a, b) => String(a.slot).localeCompare(String(b.slot), 'en', { numeric: true }));\n  const updatedVisuals = {\n    ...visuals,\n    imageJobs,\n    imagePrompts: { ...(visuals.imagePrompts || {}), cover: prompt },\n    cover: { ...cover, prompt: undefined },\n  };\n  return [{ json: { ...source, status: 'cover_ready', visuals: updatedVisuals, cover: { ...cover, prompt: undefined } } }];\n} catch (error) {\n  const message = 'Не удалось подготовить обложку: ' + error.message;\n  await patchJob.call(this, { artifacts: { cover: { status: 'failed', error: message } }, error: { message } });\n  throw new Error(message);\n}"
        }
      },
      {
        "id": "3ea589a7-541c-4744-9a56-65730aba5eaa",
        "name": "Write Updated Visuals Artifact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          860,
          300
        ],
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId + \"/artifacts/visuals.json\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { jobId: $json.jobId, status: $json.status, visuals: $json.visuals } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "9528a464-4b6b-4a09-934a-096b0bad350a",
        "name": "Mark Cover Ready",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1180,
          300
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Generate Cover\").item.json.jobId }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { message: \"Обложка готова\", artifacts: { cover: $(\"Generate Cover\").item.json.cover } } }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "968858f3-9c12-4725-9969-c6947959b227",
        "name": "Start PDF Render",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1500,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Generate Cover\").item.json.jobId + \"/render-pdf\" }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 240000
          }
        }
      }
    ],
    "connections": {
      "Cover Pipeline Input": {
        "main": [
          [
            {
              "node": "Generate Cover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Cover": {
        "main": [
          [
            {
              "node": "Write Updated Visuals Artifact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Updated Visuals Artifact": {
        "main": [
          [
            {
              "node": "Mark Cover Ready",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Cover Ready": {
        "main": [
          [
            {
              "node": "Start PDF Render",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "versionId": "41b43caf-7f58-429a-a8e6-8f6a731115c6",
    "triggerCount": 0,
    "tags": []
  }
]
