n8n/production-exports/20260527-075700Z/FVFullVisuals20260523.json
{
  "updatedAt": "2026-05-26T17:12:15.000Z",
  "createdAt": "2026-05-23T13:51:28.350Z",
  "id": "FVFullVisuals20260523",
  "name": "fairyteller_full_visuals",
  "description": "Generates chapter 2-5 illustrations after full-text.json using the existing visual bible and portrait sheet.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "08f0121e-3a52-4928-b340-ae182fc45225",
      "name": "Full Visuals Pipeline Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"jobId\":\"ft_example\",\"order\":{\"illustrationStyle\":\"photorealistic\",\"heroes\":[]},\"text\":{\"chapters\":[{\"n\":1,\"title\":\"Chapter 1\"},{\"n\":2,\"title\":\"Chapter 2\",\"summary\":\"...\",\"textBlocks\":[\"...\"]}]}}"
      }
    },
    {
      "id": "fcf7f189-1856-4e36-92b2-d866ddbf4fbf",
      "name": "Generate Full Visuals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $input.first().json;\nconst jobId = source.jobId;\nif (!jobId) throw new Error('Missing jobId for full visuals');\nconst text = source.text || {};\nconst order = source.order || {};\nconst chapters = (text.chapters || []).filter((chapter) => Number(chapter.n) > 1).sort((a, b) => Number(a.n) - Number(b.n));\nconst INTERIOR_IMAGE_TARGET = {\n  role: 'interior_chapter_image_page',\n  pageSizeMm: [136, 136],\n  aspectRatio: '1:1',\n  printDpiEquivalent: 'about 1606 x 1606 px at 300 DPI',\n  placement: 'right-hand full-page chapter opener illustration',\n  safety: 'full bleed square composition; keep faces, hands, key props and readable silhouettes away from the left 15% gutter/spine zone and the outer 3mm trim edge',\n};\nif (!chapters.length) throw new Error('No continuation chapters found for full visuals');\n\nasync function apiRequest(options) {\n  return await this.helpers.httpRequest({\n    ...options,\n    headers: {\n      Authorization: 'Bearer ' + $env.FAIRYTELLER_API_TOKEN,\n      ...(options.headers || {}),\n    },\n    json: true,\n  });\n}\n\nasync function patchJob(body) {\n  return await apiRequest.call(this, {\n    method: 'PATCH',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId,\n    headers: { 'Content-Type': 'application/json' },\n    body,\n    timeout: 30000,\n  });\n}\n\nasync function fetchJsonArtifact(fileName) {\n  return await apiRequest.call(this, {\n    method: 'GET',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId + '/artifacts/' + fileName,\n    timeout: 30000,\n  });\n}\n\nasync function fetchVisualsArtifactWithRetry() {\n  let lastError;\n  for (let attempt = 1; attempt <= 18; attempt += 1) {\n    try {\n      const artifact = await fetchJsonArtifact.call(this, 'visuals.json');\n      if (artifact?.visuals?.visualBible) return artifact;\n      lastError = new Error('visuals.json exists but visualBible is missing');\n    } catch (error) {\n      lastError = error;\n    }\n    await new Promise((resolve) => setTimeout(resolve, 5000));\n  }\n  throw new Error('visuals.json was not ready for full visuals: ' + (lastError?.message || 'unknown error'));\n}\n\nasync function fetchImageBase64(url) {\n  if (!url) return null;\n  const absoluteUrl = url.startsWith('http') ? url : 'https://fairyteller.ru' + url;\n  const separator = absoluteUrl.includes('?') ? '&' : '?';\n  const payload = await apiRequest.call(this, {\n    method: 'GET',\n    url: absoluteUrl + separator + 'base64=1',\n    timeout: 30000,\n  });\n  if (!payload?.contentBase64) throw new Error('Fetched reference image has no base64 content');\n  return { mimeType: payload.contentType || 'image/png', data: payload.contentBase64, bytes: payload.bytes || Buffer.from(payload.contentBase64, 'base64').length };\n}\n\nasync function fetchReferenceImages(visuals, visualBible) {\n  const cards = (visualBible?.heroReferenceCards || visuals.heroReferenceCards || []).filter((card) => card.status === 'ready' && card.url);\n  const images = [];\n  for (const card of cards) {\n    const image = await fetchImageBase64.call(this, card.url);\n    if (image?.data) {\n      images.push({ ...image, type: 'hero_card', hero: card.hero, name: card.name || '', ageGroup: card.ageGroup || 'unknown', url: card.url });\n    }\n  }\n\n  const expectedHeroCount = (visualBible?.characters || visuals.characters || order.heroes || [])\n    .filter((hero) => hero?.name || hero?.description || hero?.referenceCardUrl || hero?.hasPhoto || hero?.ageGroup).length;\n  const readyCardHeroCount = new Set(images.filter((image) => image.type === 'hero_card').map((image) => Number(image.hero))).size;\n  const hasPortraitSheet = visuals.portraitSheet?.status === 'ready' && visuals.portraitSheet?.url;\n  const needsPortraitSheet = hasPortraitSheet && (!images.length || (expectedHeroCount > 0 && readyCardHeroCount < expectedHeroCount));\n\n  if (needsPortraitSheet) {\n    const image = await fetchImageBase64.call(this, visuals.portraitSheet.url);\n    if (image?.data) {\n      images.push({ ...image, type: 'portrait_sheet', hero: null, name: 'combined reference sheet', ageGroup: 'mixed', url: visuals.portraitSheet.url });\n    }\n  }\n\n  return images;\n}\n\nfunction referenceMapLines(referenceImages) {\n  return referenceImages.map((image, index) => {\n    if (image.type === 'hero_card') return 'Attached reference image ' + (index + 1) + ' = Hero ' + image.hero + ' (' + (image.name || 'unnamed') + '), age group ' + (image.ageGroup || 'unknown');\n    return 'Attached reference image ' + (index + 1) + ' = combined hero reference sheet';\n  }).join('\\n');\n}\n\nfunction cleanText(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction compactChapterText(chapter) {\n  const raw = chapter.text || (Array.isArray(chapter.textBlocks) ? chapter.textBlocks.join(' ') : '');\n  return cleanText(raw).slice(0, 1800);\n}\n\nfunction characterLine(hero) {\n  const label = hero.name || ('Hero ' + (hero.hero || hero.n || ''));\n  const age = hero.ageGroup || 'unknown';\n  const ageNote = age === 'unknown' ? 'age group: unknown/infer from reference image' : 'age group: ' + age + ' (mandatory)';\n  const ref = hero.referenceCardUrl ? 'reference card: ' + hero.referenceCardUrl : '';\n  return [label, ageNote, ref, hero.description || '', hero.relation ? 'relation: ' + hero.relation : ''].filter(Boolean).join('; ');\n}\n\nfunction chapterPrompt(chapter, visualBible, referenceImages) {\n  const bible = text.bible || {};\n  const stylePrompt = visualBible?.style?.prompt || order.illustrationStylePrompt || order.illustrationStyle || 'photorealistic cinematic book illustration, realistic people, natural light, print-ready composition';\n  const world = visualBible?.world || {};\n  const characters = (visualBible?.characters || order.heroes || []).map((hero) => {\n    if (hero.name || hero.description || hero.relation || hero.ageGroup) {\n      return characterLine(hero);\n    }\n    return '';\n  }).filter(Boolean).join('\\n');\n  const continuity = (visualBible?.consistencyRules || []).join(' ');\n  const referenceMap = referenceMapLines(referenceImages || []);\n  const hasHeroCards = (referenceImages || []).some((image) => image.type === 'hero_card');\n  const hasPortraitSheet = (referenceImages || []).some((image) => image.type === 'portrait_sheet');\n  const referenceInstruction = referenceImages?.length\n    ? (hasHeroCards && hasPortraitSheet\n      ? 'Use the attached individual hero reference cards where available, and use the attached combined character reference sheet for any hero whose individual card is missing. Treat both as mandatory identity canon; do not swap, merge, average or reinterpret identities. Preserve exact adult/child/teen/senior age groups, age impression, relative height scale, hair, proportions, outfits/accessories and role silhouettes.'\n      : (hasHeroCards\n        ? 'Use the attached individual hero reference cards as mandatory identity canon. Each card maps to exactly one hero; do not swap, merge, average or reinterpret identities. Preserve the same hero faces, exact adult/child/teen/senior age group, age impression, relative height scale, hair, proportions, outfits/accessories and role silhouettes from the cards.'\n        : 'Use the attached generated character reference sheet as mandatory identity canon. Preserve the same hero faces, exact adult/child/teen/senior age group, age impression, height scale, hair, proportions, outfits/accessories and role silhouettes from the sheet. Do not reinterpret character identity from scratch.'))\n    : 'No reference image is attached; preserve character identity from written descriptions and previous chapter continuity.';\n  return [\n    'Generate an IMAGE only. No explanatory text.',\n    'Create a square 1:1 full-page book illustration for a 136 x 136 mm interior page for chapter ' + chapter.n + '.',\n    'Absolutely no readable text inside the image: no chapter numbers, no chapter titles, no signs, no labels, no captions, no fake letters, no book-page typography, no posters, no banners, no UI. If the scene contains papers/books/signs, render them as abstract unreadable texture only.',\n    '',\n    '[PAGE TARGET]',\n    'Final placement: ' + INTERIOR_IMAGE_TARGET.placement,\n    'Page size: 136 x 136 mm, aspect ratio 1:1 square. At print scale this corresponds to about 1606 x 1606 px at 300 DPI.',\n    'Fill the entire square page edge-to-edge; no letterboxing, no decorative frame, no landscape or portrait canvas. Do not leave white or blank margins. Treat the outer 3 mm and the left 15% gutter/spine side as unsafe for faces, hands, the important object and other must-read details.',\n    '',\n    '[STYLE - highest priority]',\n    stylePrompt,\n    '',\n    '[CHARACTER IDENTITY]',\n    referenceInstruction,\n    referenceMap ? '[REFERENCE IMAGE MAP]\\n' + referenceMap : '',\n    '',\n    '[VISUAL BIBLE CONTINUITY]',\n    'Reference policy: ' + (visualBible?.referencePolicy || 'portrait_sheet_is_required_identity_canon'),\n    'Consistency: ' + continuity,\n    '',\n    '[WORLD]',\n    'World: ' + (world.title || bible.worldTitle || order.world || ''),\n    'World visual language: ' + (world.visual || bible.worldVisual || ''),\n    'World motifs: ' + (world.motifs || bible.worldMotifs || ''),\n    'World tension: ' + (world.conflict || bible.worldConflict || ''),\n    'Location continuity: ' + (world.location || order.location || bible.location || ''),\n    'Important object continuity: ' + (world.artifact || order.artifact || bible.artifact || ''),\n    '',\n    '[CHAPTER SCENE]',\n    'Chapter title for context only, do NOT render it: ' + (chapter.title || ('Глава ' + chapter.n)),\n    'Scene summary: ' + (chapter.summary || ''),\n    'Chapter text context: ' + compactChapterText(chapter),\n    '',\n    '[CHARACTERS]',\n    characters || 'Use the main heroes from the story.',\n    '',\n    '[AGE AND ROLE RULE]',\n    'Treat each hero age group as mandatory. Children must read as children, adults as adults, teenagers as teenagers, seniors as seniors. Keep relative height/scale and maturity stable; do not swap ages between heroes.',\n    '',\n    '[COMPOSITION]',\n    'Pick one strong cinematic moment from this chapter, not a collage. Make the important object or world motif visible if it belongs in the scene. Use readable silhouettes, coherent anatomy, natural gestures, foreground-midground-background depth, and print-ready full-bleed square composition for a 136 x 136 mm page. This is not a poster and not a designed book page: no typography anywhere. This image will sit on the RIGHT page of an open spread; keep faces, hands, the important object, and readable silhouettes away from the left 15% inner gutter/spine zone and away from the outer 3mm trim edge. Do not put essential content in corners that can be trimmed.',\n  ].filter((line) => line !== null && line !== undefined).join('\\n');\n}\n\nfunction findInlineImage(response) {\n  return (response.candidates?.[0]?.content?.parts || []).find((part) => part.inlineData?.data);\n}\n\nfunction responseText(response) {\n  return (response.candidates?.[0]?.content?.parts || []).map((part) => part.text || '').join(' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nfunction isRetryableGeminiError(error) {\n  const status = Number(error?.response?.status || error?.statusCode || error?.status || 0);\n  const message = String(error?.message || '');\n  return status === 0 || status === 408 || status === 409 || status === 425 || status === 429 || status >= 500 || /timeout|ECONNRESET|ETIMEDOUT|socket|network/i.test(message);\n}\n\nasync function geminiImageRequestWithRetry(request, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 4; attempt += 1) {\n    try {\n      return await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent',\n        headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n        body: request,\n        json: true,\n        timeout: 180000,\n      });\n    } catch (error) {\n      lastError = error;\n      if (!isRetryableGeminiError(error) || attempt === 4) break;\n      await sleep(6000 * attempt);\n    }\n  }\n  throw new Error('Gemini image request failed for ' + label + ': ' + (lastError?.message || 'unknown error'));\n}\n\nasync function generateChapterImage(chapter, visualBible, referenceImages) {\n  const prompt = chapterPrompt(chapter, visualBible, referenceImages || []);\n  const parts = [{ text: prompt }];\n  for (const image of referenceImages || []) {\n    if (image?.data) parts.push({ inlineData: { mimeType: image.mimeType || 'image/png', data: image.data } });\n  }\n  const request = {\n    contents: [{ role: 'user', parts }],\n    generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.35 },\n  };\n  let response = await geminiImageRequestWithRetry.call(this, request, 'chapter ' + chapter.n + ' primary image');\n  let part = findInlineImage(response);\n  let textReason = responseText(response);\n  if (!part) {\n    const retryPrompt = [\n      'Generate an IMAGE only. Do not answer with text.',\n      'Book illustration for chapter ' + chapter.n + '. Title is context only, do NOT render words: ' + (chapter.title || ''),\n      'Scene: ' + (chapter.summary || compactChapterText(chapter).slice(0, 500)),\n      'Use the attached individual hero reference cards or combined character reference sheet as identity canon if present, including exact adult/child/teen/senior age roles and relative height scale. Do not swap hero identities.',\n      'Style: ' + (visualBible?.style?.prompt || order.illustrationStylePrompt || order.illustrationStyle || 'book illustration'),\n      'Target final page: 136 x 136 mm square interior page, 1:1 aspect ratio, full bleed edge-to-edge. No text or text-like marks, no letterboxing, no borders, no white margins, no blank paper background. Keep important faces and objects away from the left 15% inner gutter/spine zone and outer 3mm trim edge.',\n    ].join('\\n');\n    response = await geminiImageRequestWithRetry.call(this, { contents: [{ role: 'user', parts: [{ text: retryPrompt }, ...(referenceImages || []).filter((image) => image?.data).map((image) => ({ inlineData: { mimeType: image.mimeType || 'image/png', data: image.data } }))] }], generationConfig: { responseModalities: ['TEXT', 'IMAGE'], temperature: 0.2 } }, 'chapter ' + chapter.n + ' simplified image');\n    part = findInlineImage(response);\n    textReason = responseText(response) || textReason;\n  }\n  if (!part) {\n    throw new Error('Gemini did not return an inline image for chapter ' + chapter.n + ': ' + (textReason || response.promptFeedback?.blockReason || response.candidates?.[0]?.finishReason || 'unknown reason'));\n  }\n  const mimeType = part.inlineData.mimeType || 'image/png';\n  const ext = mimeType.includes('webp') ? 'webp' : mimeType.includes('jpeg') || mimeType.includes('jpg') ? 'jpg' : 'png';\n  const fileName = 'chapter-' + chapter.n + '.' + ext;\n  await apiRequest.call(this, {\n    method: 'PUT',\n    url: 'https://fairyteller.ru/api/fairyteller/jobs/' + jobId + '/files/' + fileName,\n    headers: { 'Content-Type': 'application/json' },\n    body: { contentType: mimeType, contentBase64: part.inlineData.data },\n    timeout: 60000,\n  });\n  const url = '/api/fairyteller/jobs/' + jobId + '/files/' + fileName;\n  return {\n    slot: 'chapter_' + chapter.n,\n    chapter: Number(chapter.n),\n    status: 'ready',\n    fileName,\n    url,\n    absoluteUrl: 'https://fairyteller.ru' + url,\n    mimeType,\n    bytes: Buffer.from(part.inlineData.data, 'base64').length,\n    prompt,\n    provider: 'gemini',\n    model: 'gemini-2.5-flash-image',\n    targetPageSizeMm: INTERIOR_IMAGE_TARGET.pageSizeMm,\n    targetAspectRatio: INTERIOR_IMAGE_TARGET.aspectRatio,\n    role: 'interior_full_page_right_spread',\n    referenceSheetUrl: visualBible?.portraitSheetUrl || null,\n    characterReferenceCardUrls: (visualBible?.heroReferenceCards || []).map((card) => card.url).filter(Boolean),\n    visualBibleVersion: visualBible?.version || 1,\n  };\n}\n\nawait patchJob.call(this, {\n  artifacts: { fullVisuals: { status: 'generating', requestedAt: new Date().toISOString(), completed: 0, total: chapters.length } },\n});\n\ntry {\n  const existingArtifact = await fetchVisualsArtifactWithRetry.call(this);\n  const existingVisuals = existingArtifact.visuals || {};\n  const visualBible = existingVisuals.visualBible || {};\n  const referenceImages = await fetchReferenceImages.call(this, existingVisuals, visualBible);\n\n  const previousJobs = Array.isArray(existingVisuals.imageJobs) ? existingVisuals.imageJobs : [];\n  const generatedImages = [];\n  const fallbackImages = [];\n  function publicImage(image) {\n    const { prompt, ...publicImageValue } = image;\n    return publicImageValue;\n  }\n  function fallbackSourceImage() {\n    return [...generatedImages].reverse().find((image) => image.status === 'ready' && image.fileName)\n      || previousJobs.find((image) => image.slot === 'chapter_1' && image.status === 'ready' && image.fileName)\n      || previousJobs.find((image) => image.status === 'ready' && image.fileName);\n  }\n  for (const chapter of chapters) {\n    let image;\n    try {\n      image = await generateChapterImage.call(this, chapter, visualBible, referenceImages);\n    } catch (error) {\n      const fallback = fallbackSourceImage();\n      if (!fallback) throw error;\n      const fallbackReason = String(error?.message || error || 'image generation failed').replace(/\\s+/g, ' ').trim().slice(0, 600);\n      image = {\n        ...fallback,\n        slot: 'chapter_' + chapter.n,\n        chapter: Number(chapter.n),\n        status: 'ready',\n        fallback: true,\n        fallbackFromSlot: fallback.slot || null,\n        fallbackReason,\n        prompt: chapterPrompt(chapter, visualBible, referenceImages || []),\n        provider: fallback.provider || 'fallback_existing_image',\n        model: fallback.model || 'existing_ready_image',\n        role: 'interior_full_page_right_spread_fallback',\n      };\n      fallbackImages.push(publicImage(image));\n    }\n    generatedImages.push(image);\n    await patchJob.call(this, {\n      artifacts: { fullVisuals: { status: 'generating', completed: generatedImages.length, total: chapters.length, latestChapter: Number(chapter.n), images: generatedImages.map(publicImage), fallbackCount: fallbackImages.length, fallbacks: fallbackImages } },\n    });\n  }\n\n  const replacedSlots = new Set(generatedImages.map((image) => image.slot));\n  const imageJobs = [\n    ...previousJobs.filter((image) => !replacedSlots.has(image.slot)),\n    ...generatedImages,\n  ].sort((a, b) => String(a.slot).localeCompare(String(b.slot), 'en', { numeric: true }));\n  const visuals = {\n    ...existingVisuals,\n    imageJobs,\n    imagePrompts: {\n      ...(existingVisuals.imagePrompts || {}),\n      ...Object.fromEntries(generatedImages.map((image) => [image.slot, image.prompt])),\n    },\n    fullVisuals: { status: 'ready', chapterCount: generatedImages.length, generatedAt: new Date().toISOString(), fallbackCount: fallbackImages.length, fallbacks: fallbackImages },\n  };\n  return [{ json: { ...source, status: 'full_visuals_ready', visuals, fullVisuals: { status: 'ready', chapterCount: generatedImages.length, images: generatedImages.map(publicImage), fallbackCount: fallbackImages.length, fallbacks: fallbackImages } } }];\n} catch (error) {\n  const message = 'Не удалось подготовить иллюстрации полной истории: ' + error.message;\n  await patchJob.call(this, { artifacts: { fullVisuals: { status: 'failed', error: message } }, error: { message } });\n  throw new Error(message);\n}"
      }
    },
    {
      "id": "2804e465-5e92-4d44-9d2c-b4b673261cbc",
      "name": "Write Updated Visuals Artifact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        860,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId + \"/artifacts/visuals.json\" }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { jobId: $json.jobId, status: $json.status, visuals: $json.visuals } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      }
    },
    {
      "id": "6205f8a4-ff1d-44da-aa34-7bc1722f2729",
      "name": "Mark Full Visuals Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1180,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Generate Full Visuals\").item.json.jobId }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { message: \"Иллюстрации полной истории готовы\", artifacts: { fullVisuals: { status: \"ready\", chapterCount: $(\"Generate Full Visuals\").item.json.fullVisuals.chapterCount, images: $(\"Generate Full Visuals\").item.json.fullVisuals.images } } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      }
    },
    {
      "id": "a7222a31-9754-4939-b6c0-e18f7c2feae1",
      "name": "Restore Cover Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "const payload = $('Generate Full Visuals').first().json;\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "90dcc13e-3fc6-485d-9458-facec73a11de",
      "name": "Start Cover Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "FVCover20260523",
          "mode": "list",
          "cachedResultName": "fairyteller_cover"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "Full Visuals Pipeline Input": {
      "main": [
        [
          {
            "node": "Generate Full Visuals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Full Visuals": {
      "main": [
        [
          {
            "node": "Write Updated Visuals Artifact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Updated Visuals Artifact": {
      "main": [
        [
          {
            "node": "Mark Full Visuals Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Full Visuals Ready": {
      "main": [
        [
          {
            "node": "Restore Cover Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Cover Payload": {
      "main": [
        [
          {
            "node": "Start Cover Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8a24ee06-672a-4de8-b8b3-e2347ccaf4b6",
  "activeVersionId": "8a24ee06-672a-4de8-b8b3-e2347ccaf4b6",
  "versionCounter": 30,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-23T13:53:11.043Z",
      "createdAt": "2026-05-23T13:53:11.043Z",
      "role": "workflow:owner",
      "workflowId": "FVFullVisuals20260523",
      "projectId": "yjU1WlmpOKrWZ5oA",
      "project": {
        "updatedAt": "2026-04-01T13:13:29.434Z",
        "createdAt": "2026-04-01T12:58:08.424Z",
        "id": "yjU1WlmpOKrWZ5oA",
        "name": "Nikita Such <aukenbro1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ad3f1947-a4d2-4d9f-9812-8101e2da0e99"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}