n8n/production-exports/20260527-075700Z/Y7Bt3zq9XTContinue.json
{
  "updatedAt": "2026-05-23T12:47:31.000Z",
  "createdAt": "2026-05-23T00:00:00.000Z",
  "id": "Y7Bt3zq9XTContinue",
  "name": "fairyteller_continue",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "77e7c087-2a8b-42a9-9ee6-3c3edff2075d",
      "name": "Continue Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "fairyteller/continue",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "9c4862b1-6185-4f23-b33f-fc3c7d68ac8f"
    },
    {
      "id": "dd2a206f-bfe3-49f8-9631-c5e7937f56b7",
      "name": "Normalize Continue Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "jsCode": "const first = $input.first();\nconst body = first.json?.body || first.json || {};\nconst jobId = String(body.jobId || body.job_id || '').trim();\nif (!/^ft_[a-zA-Z0-9_-]{8,80}$/.test(jobId)) {\n  throw new Error('Invalid or missing jobId');\n}\nreturn [{ json: { jobId, requestedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "e3b12d41-9f79-4658-8962-4a852cf69635",
      "name": "Fetch Full Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        180
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId + \"/full\" }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      }
    },
    {
      "id": "a05be218-9a72-409b-9fc3-825a47df2d95",
      "name": "Fetch Text Artifact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $(\"Normalize Continue Request\").item.json.jobId + \"/artifacts/text.json\" }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      }
    },
    {
      "id": "5dc4e8c3-6042-437e-aeb7-45408cd3b6c1",
      "name": "Build Full Text Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "jsCode": "const request = $('Normalize Continue Request').first().json;\nconst fullJob = $('Fetch Full Job').first().json;\nconst textArtifact = $('Fetch Text Artifact').first().json;\nconst order = fullJob.order?.order || fullJob.order || {};\nif (!textArtifact.text?.chapters?.[0]) {\n  throw new Error('First chapter text artifact is not ready yet');\n}\nreturn [{\n  json: {\n    jobId: request.jobId,\n    status: 'continue_requested',\n    order,\n    text: textArtifact.text,\n    source: 'fairyteller_continue',\n    continueRequestedAt: request.requestedAt,\n    pipeline: { next: 'fairyteller_full_text', requestedByUser: true },\n  },\n}];"
      }
    },
    {
      "id": "7c708ec6-08fb-4b74-9b29-aec3b230b314",
      "name": "Mark Full Text Requested",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ \"https://fairyteller.ru/api/fairyteller/jobs/\" + $json.jobId }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.FAIRYTELLER_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { artifacts: { fullText: { status: \"generating\", requestedAt: $(\"Build Full Text Payload\").item.json.continueRequestedAt } } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      }
    },
    {
      "id": "950ca7d0-12a3-414f-8134-fffa91e18cb7",
      "name": "Respond Continue Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1900,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, status: \"continue_accepted\", jobId: $(\"Build Full Text Payload\").item.json.jobId, message: \"Full story generation started\" } }}",
        "options": {}
      }
    },
    {
      "id": "f828bf81-2556-4560-a8e2-4a6fd0107688",
      "name": "Restore Full Text Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ],
      "parameters": {
        "jsCode": "const payload = $('Build Full Text Payload').first().json;\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "7ff5d3cd-6559-40fa-840a-700d65fbdf1d",
      "name": "Start Full Text Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2460,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "C2Pcin7lctSY5nc2",
          "mode": "list",
          "cachedResultName": "fairyteller_full_text"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "Continue Webhook": {
      "main": [
        [
          {
            "node": "Normalize Continue Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Continue Request": {
      "main": [
        [
          {
            "node": "Fetch Full Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Job": {
      "main": [
        [
          {
            "node": "Fetch Text Artifact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Text Artifact": {
      "main": [
        [
          {
            "node": "Build Full Text Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Full Text Payload": {
      "main": [
        [
          {
            "node": "Mark Full Text Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Full Text Requested": {
      "main": [
        [
          {
            "node": "Respond Continue Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Continue Accepted": {
      "main": [
        [
          {
            "node": "Restore Full Text Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Full Text Payload": {
      "main": [
        [
          {
            "node": "Start Full Text Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0438c027-25e3-4a6e-bb7c-36dfa336f016",
  "activeVersionId": "0438c027-25e3-4a6e-bb7c-36dfa336f016",
  "versionCounter": 21,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-23T12:41:40.291Z",
      "createdAt": "2026-05-23T12:41:40.291Z",
      "role": "workflow:owner",
      "workflowId": "Y7Bt3zq9XTContinue",
      "projectId": "yjU1WlmpOKrWZ5oA",
      "project": {
        "updatedAt": "2026-04-01T13:13:29.434Z",
        "createdAt": "2026-04-01T12:58:08.424Z",
        "id": "yjU1WlmpOKrWZ5oA",
        "name": "Nikita Such <aukenbro1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ad3f1947-a4d2-4d9f-9812-8101e2da0e99"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}